[2017-10-20 18:58] thinkingserious commented on #147
Hi @P3trur0,

Maybe the [Docker build](https://github.com/sendgrid/sendgrid-java/pull/245) can help?

If you make the changes in a PR, I can test them locally as well.

With Best Regards,

Elmer

[2017-10-20 22:03] thinkingserious opened #291 "Update README for SEO-ness"
We received an awesome PR for #hacktoberfest on our [ruby library](https://github.com/sendgrid/sendgrid-ruby/pull/220)
We would love to see the same thing on the README in this repo as well.
Please replace the "-" with "_"  in README, CONTRIBUTING, USE_CASES, USAGE files.

Thanks and happy Hacktoberfest!!

[2017-10-20 22:20] thinkingserious opened #293 "Add/Update Badges on README"
Similar to what was done on [the SendGrid node README](https://github.com/sendgrid/sendgrid-nodejs/pull/486):
- put the logo at the top of the list
- Add [License like so](https://github.com/sendgrid/sendgrid-php/pull/476)
- make sure the other badges are available like so:
[code]
For the following, make sure the correct repo is linked!
For email notifications, you can change the "nodejs" to the l

[2017-10-20 22:48] mptap commented on #293
@thinkingserious I'm on it!

[2017-10-20 23:19] mptap commented on #293
@thinkingserious: Done! https://github.com/sendgrid/sendgrid-java/pull/295

[2017-10-21 00:05] LulaV14 commented on #289
I'm not sure that the problem is with the oraclejdk7...because there are three build jobs using openjdk7, oraclejdk7 and oraclejdk8 and all are failing in most of the builds.

I'm no expert in Travis but doing a little research I found that in most projects the problem was the permissions for the gradle file. I'm sure you did gave permissions because it wasn't failing.. maybe some PR change broke

[2017-10-21 05:46] deepapanwar commented on #231
@czobrisky  are you still working on this? If not I can pick this.

[2017-10-21 08:34] deepapanwar commented on #260
can I pick this up?

[2017-10-21 17:45] rivenhk commented on #283
can i try to work on this issue?

[2017-10-21 20:12] mbernier commented on #293
@mptap thank you! We will get this merged as soon as we get the build working again :/

[2017-10-22 00:55] shashank135sharma commented on #291
I can take this!

[2017-10-22 01:10] shashank135sharma commented on #291
Ill take this!

[2017-10-22 01:17] shashank135sharma commented on #291
#300

[2017-10-22 01:33] #159 closed

[2017-10-22 02:24] jsroyal commented on #279
Is this issue resolved coz even after PR #280 merged?
If that is the case then please close the issue.

[2017-10-22 04:12] #291 closed

[2017-10-22 04:16] #293 closed

[2017-10-22 04:17] tonytran commented on #266
Hi i'd be interested in taking this on but i have a few questions that maybe you can answer or clarify for me:

1. Is the idea to add to the mail helper method a way to attach files through the instancing of a mail object?
i.e.
`  public Mail(Email from, String subject, Email to, Content content, **File f**) {
    this.setFrom(from);
    this.setSubject(subject);
    Personalization personalizatio

[2017-10-22 04:20] mbernier commented on #290
Have you tried executing the following from the terminal on your machine?

***Note**: replace 'YOUR_API_KEY' with your actual key from SendGrid.*

[code]

Then try running:
[code]
and see if SENDGRID_API_KEY shows up.

If the key is there and you continue to get the error:
[code]
Then you may need to generate a new key on https://app.sendgrid.com

[2017-10-22 12:17] pushkyn commented on #288
I can take this one

[2017-10-22 21:43] sebast26 commented on #251
Hi @thinkingserious, I would like to finish work on this in current week. Could you please get back to me with requirements?

[2017-10-23 05:35] deepapanwar commented on #256
I will pick this

[2017-10-23 05:36] deepapanwar commented on #257
I will pick this

[2017-10-23 06:45] InfiniteCoder commented on #289
I can't locate the code that is pointed to in the errors of the log, as pointed by the travis beacon on readme page. It's pointing to [build 451](https://travis-ci.org/sendgrid/sendgrid-java/jobs/291373480). Errors point to some import lines in Attachments.java, but those code lines do not exist in repository.

The only error that Attachments.java shows for me is that package name does not match t

[2017-10-23 09:52] maciekmm commented on #248
I can work on this.

[2017-10-23 21:09] #261 closed

[2017-10-23 22:15] fabioformosa commented on #177
Not just "whatever I want" in type field, if it's not possible to put a semicolon to define the boundary. The boundary is needed as separator for specific parts into the content param ( [ w3c ](https://www.w3.org/Protocols/rfc1341/7_2_Multipart.html) ).

[2017-10-24 00:30] mbernier opened #310 "IP Warmup functionality integrated into mail helper"
This issue has the potential to save other developers quite a bit of time and frustration when buying IP addresses because it will help them warm up the IPs appropriately. Warming up is a process of slowly ramping up sending on an IP address to allow Email Recipient servers (e.g. gmail, hotmail, etc) to see that this IP is legit.

## Goal
- Add the ability to automate warm up IPs that allows a cus

[2017-10-24 02:19] LulaV14 commented on #289
I see that @andy-trimble did some changes in the .travis.yml file and now all builds are passing 😊
So that was the problem? Everything's working now?

[2017-10-24 19:42] thinkingserious opened #312 "Create email module class to enable easier drag-drop template creation over API"
The drag-drop editor allows API upload of HTML, but it must conform to a specific standard in order for the editor to render the emails properly.
Create an email module class that allows a user to call a static function that will output the HTML for the module.
The specific module HTML is here: https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/design_editor.html#-Drag--Drop-Code-Examples
Ea

[2017-10-25 07:37] P3trur0 commented on #147
@thinkingserious so is the Docker build aligned with package resolutions?

[2017-10-25 16:54] rivenhk commented on #283
@thinkingserious , in progress working on this issue.

[2017-10-26 01:07] fushcpc commented on #58
@johnanthony3
which dependency conflicts you met?

[2017-10-26 13:25] rivenhk commented on #283
created a PR #313

[2017-10-26 20:13] thinkingserious opened #314 "Create a PULL_REQUEST_TEMPLATE"
#### Issue Summary

We would like to have a template for describing what has changed in the pull request being submitted.

[Github docs on this](https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/)

You can use [this file](https://github.com/sendgrid/open-source-library-data-collector/blob/master/.github/PULL_REQUEST_TEMPLATE.md) as an example

[2017-10-27 00:01] thinkingserious opened #317 "Add a .env_sample file"
Our preference is that users have an environment file when using the SendGrid API, because it is less likely that someone would commit their credentials to github.

Please make a couple changes:
- make a .env_sample file that contains: `export SENDGRID_API_KEY=''`
- make (or add) a .gitignore file and include `.env`
- add instructions to the README file about how to copy .env_sample to .env and ad

[2017-10-27 00:38] thinkingserious opened #318 "Add a USAGE.md file"
Usage files are really nice when they exist in a repo, because it makes it really obvious where to look for information about how to use this tool. It can be frustrating when you expect this file to be there and it's not.
Please add a USAGE.md file, you can see an example of this
[here](https://github.com/sendgrid/sendgrid-python/blob/master/USAGE.md)

Please make sure you modify the file for this

[2017-10-27 00:39] mbernier commented on #318
dupe

[2017-10-27 00:39] #318 closed

[2017-10-27 22:29] thinkingserious opened #323 "Fix "file_lines" issue in examples/contactdb/contactdb.java"
File `contactdb.java` has 528 lines of code (exceeds 250 allowed). Consider refactoring.

https://codeclimate.com/github/sendgrid/sendgrid-java/examples/contactdb/contactdb.java#issue_59f382f4ba92590001000058

Take each of the examples and make them their own file.
Then create a README file that links to each example.

[2017-10-27 22:30] thinkingserious opened #324 "Fix "file_lines" issue in examples/whitelabel/whitelabel.java"
File `whitelabel.java` has 460 lines of code (exceeds 250 allowed). Consider refactoring.

Take each of the examples and make them their own file.
Then create a README file that links to each example.

https://codeclimate.com/github/sendgrid/sendgrid-java/examples/whitelabel/whitelabel.java#issue_59f382f4ba92590001000057

[2017-10-27 22:31] thinkingserious opened #325 "Fix "method_lines" issue in examples/helpers/mail/Example.java"
Method `buildKitchenSink` has 155 lines of code (exceeds 25 allowed). Consider refactoring.

Take each of the examples and make them their own file.
Then create a README file that links to each example.

https://codeclimate.com/github/sendgrid/sendgrid-java/examples/helpers/mail/Example.java#issue_59f382f4ba92590001000056

[2017-10-27 22:31] thinkingserious opened #326 "Fix "file_lines" issue in examples/user/user.java"
File `user.java` has 422 lines of code (exceeds 250 allowed). Consider refactoring.

Take each of the examples and make them their own file.
Then create a README file that links to each example.

https://codeclimate.com/github/sendgrid/sendgrid-java/examples/user/user.java#issue_59f382f3ba92590001000052

[2017-10-27 22:32] thinkingserious opened #327 "Fix "file_lines" issue in examples/mailsettings/mailsettings.java"
File `mailsettings.java` has 321 lines of code (exceeds 250 allowed). Consider refactoring.

Take each of the examples and make them their own file.
Then create a README file that links to each example.

https://codeclimate.com/github/sendgrid/sendgrid-java/examples/mailsettings/mailsettings.java#issue_59f382f3ba92590001000055

[2017-10-27 22:34] thinkingserious opened #328 "Fix "file_lines" issue in examples/suppression/suppression.java"
File `suppression.java` has 301 lines of code (exceeds 250 allowed). Consider refactoring.

Take each of the examples and make them their own file.
Then create a README file that links to each example.

https://codeclimate.com/github/sendgrid/sendgrid-java/examples/suppression/suppression.java#issue_59f382f3ba92590001000053

[2017-10-27 22:34] thinkingserious opened #329 "Fix "similar-code" issue in examples/categories/categories.java"
Similar blocks of code found in 2 locations. Consider refactoring.

Take each of the examples and make them their own file.
Then create a README file that links to each example.

https://codeclimate.com/github/sendgrid/sendgrid-java/examples/categories/categories.java#issue_59f382fdba92590001000134

[2017-10-27 22:36] thinkingserious opened #330 "Fix "file_lines" issue in examples/subusers/subusers.java"
File `subusers.java` has 263 lines of code (exceeds 250 allowed). Consider refactoring.

Take each of the examples and make them their own file.
Then create a README file that links to each example.

https://codeclimate.com/github/sendgrid/sendgrid-java/examples/subusers/subusers.java#issue_59f382f3ba92590001000054

[2017-10-27 22:36] thinkingserious opened #331 "Fix "similar-code" issue in examples/clients/clients.java"
Similar blocks of code found in 6 locations. Consider refactoring.

Take each of the examples and make them their own file.
Then create a README file that links to each example.

https://codeclimate.com/github/sendgrid/sendgrid-java/examples/clients/clients.java#issue_59f382fdba92590001000128

[2017-10-27 22:37] thinkingserious opened #332 "Fix "similar-code" issue in examples/contactdb/contactdb.java"
Similar blocks of code found in 8 locations. Consider refactoring.

https://codeclimate.com/github/sendgrid/sendgrid-java/examples/contactdb/contactdb.java#issue_59f382fdba92590001000126

[2017-10-27 22:37] thinkingserious opened #333 "Fix "similar-code" issue in examples/accesssettings/accesssettings.java"
Similar blocks of code found in 14 locations. Consider refactoring.

Take each of the examples and make them their own file.
Then create a README file that links to each example.

https://codeclimate.com/github/sendgrid/sendgrid-java/examples/accesssettings/accesssettings.java#issue_59f382fdba92590001000113

[2017-10-27 22:38] thinkingserious opened #334 "Fix "similar-code" issue in examples/accesssettings/accesssettings.java"
Similar blocks of code found in 77 locations. Consider refactoring.

Take each of the examples and make them their own file.
Then create a README file that links to each example.

https://codeclimate.com/github/sendgrid/sendgrid-java/examples/accesssettings/accesssettings.java#issue_59f382fdba925900010000ec

[2017-10-27 22:38] thinkingserious opened #335 "Fix "similar-code" issue in examples/ips/ips.java"
Similar blocks of code found in 105 locations. Consider refactoring.

Take each of the examples and make them their own file.
Then create a README file that links to each example.

https://codeclimate.com/github/sendgrid/sendgrid-java/examples/ips/ips.java#issue_59f382fcba925900010000a5

[2017-10-27 22:40] thinkingserious opened #336 "Fix "similar-code" issue in src/main/java/com/sendgrid/helpers/mail/Mail.java"
Similar blocks of code found in 6 locations. Consider refactoring.

https://codeclimate.com/github/sendgrid/sendgrid-java/src/main/java/com/sendgrid/helpers/mail/Mail.java#issue_59f382fdba9259000100013b

[2017-10-28 00:46] luan-cestari commented on #336
Hi, I created the PR #339 to fix this bug

[2017-10-28 03:47] #323 closed

[2017-10-28 04:26] mbernier opened #341 "Add a .codeclimate.yml file that builds this repo and tests it"
#### Issue Summary

We linked this repo to [CodeClimate](https://codeclimate.com/github/sendgrid/sendgrid-java), but we don't have a proper configuration file. Can you please add the correct .codeclimate.yml file for a java repo?

[2017-10-28 04:34] thinkingserious opened #342 "Add a .codeclimate.yml file to this repo"
It is possible to configure how CodeClimate looks at a repository.
[These Docs](https://docs.codeclimate.com/docs/getting-started-configuration) explain how this is done. Please create an appropriate .codeclimate.yml for this repo. It should test the main language of the repo and run tests.

[2017-10-28 07:46] sagar723720 commented on #330
fixed this issue #344

[2017-10-28 15:24] thinkingserious opened #353 "Update the license file to have the correct date range"
This license file might have the wrong end year (2017). If this is the case, please make a PR that updates the year. If the year is correct, please close this issue!

[2017-10-28 15:30] thinkingserious opened #354 "Add a unittest to check the license.md file date range"
The end year in the license file should be "this year" and this should be checked on every run of the tests. If the end year is no correct, fail the test.
example:

It is 2017, so this should be:

and the  test should fail.
--done

[2017-10-28 15:31] rivenhk commented on #326
I will work on this issue~

[2017-10-28 15:31] rivenhk commented on #327
I will work on this issue~

[2017-10-28 15:35] deepapanwar commented on #231
@thinkingserious @mbernier can I pick this?

[2017-10-28 15:38] thinkingserious opened #355 "Add unittest to check for specific repo files"
This repo should have the following list of files included:
- ./Docker or docker/Docker
- ./docker-compose.yml or ./docker/docker-compose.yml
- ./.env_sample
- ./.gitignore
- ./.travis.yml
- ./.codeclimate.yml
- ./CHANGELOG.md
- ./CODE_OF_CONDUCT.md
- ./CONTRIBUTING.md
- ./.github/ISSUE_TEMPLATE
- ./LICENSE.md
- ./.github/PULL_REQUEST_TEMPLATE
- ./README.md
- ./TROUBLESHOOTING.md
- ./USAGE.md
- ./

[2017-10-28 16:08] #353 closed

[2017-10-28 18:22] bhargodevarya commented on #333
I am taking this one

[2017-10-28 19:08] bhargodevarya commented on #333
PR created, please review

[2017-10-28 20:29] mptap commented on #355
PR: https://github.com/sendgrid/sendgrid-java/pull/362

[2017-10-28 20:51] nishithshah2211 commented on #354
Hey, I'd like to work on this. I am already working on the same issue in the `smtpapi-python` and `sendgrid-python` repo. Should I go ahead with using regex to parse for the year or does anyone want to suggest a better way to do it?

Also, the license file is license.txt and not license.md right?

[2017-10-28 21:08] mbernier opened #363 "Update .travis.yml from openjdk7 to openjdk8"
#### Issue Summary
We had success with not using the deprecated openjdk7 in our sendgrid/java-http-client repo. I would have made this change:
[code]
But I am not familiar enough with TravisCI to understand what this is:
[code]
My guess is that I could just replace `jdk: ` but I would rather someone who knows wtf they are doing to help with this!

[2017-10-28 22:03] Bjorn248 commented on #363
According to https://docs.travis-ci.com/user/customizing-the-build/#Build-Matrix it seems that 3 build jobs are being defined there, and according to https://docs.travis-ci.com/user/languages/java/ it seems that jdk is a valid matrix key, so if you only want to replace one build, you probably only have to replace the `openjdk7` with `openjdk8`.

However, there's another complication. You're using

[2017-10-28 23:15] andy-trimble commented on #289
This looks to be related to https://github.com/travis-ci/travis-ci/issues/5227.

[2017-10-28 23:37] czobrisky commented on #231
Yeah I didn't get to it- go for it. Sorry got the delay.

[2017-10-29 02:11] mbernier commented on #289
#366 + @andy-trimble got the build running again!

[2017-10-29 03:28] mbernier opened #367 "Prism isn't starting up"
#### Issue Summary

See: #222 where we are having build issues, that seem to be related to prism not starting up.
- We have tried running a local script, like https://github.com/sendgrid/sendgrid-python/blob/master/.travis.yml
- Tried doing a [wget of this file](https://raw.githubusercontent.com/stoplightio/prism/master/install.sh) and run, but it fails due to lack of permissions

[code]

[2017-10-29 03:39] mbernier commented on #367
[code]
This could be causing it :)
Any help here would be greatly appreciated !

[2017-10-29 06:06] pytlesk4 commented on #367
@mbernier need to install prism somewhere else, or run /path/to/prism version

https://github.com/sendgrid/sendgrid-java/blob/master/scripts/startPrism.sh#L34

[2017-10-29 06:11] deepapanwar commented on #231
Picking this.

[2017-10-29 10:14] rivenhk opened #371 "Annoying codeclimate"
#### Issue Summary

A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, code examples.

#### Steps to Reproduce

1. This is the first step
2. This is the second step
3. Further steps, etc.

Any other information you want to share that is relevant to the issue being reporte

[2017-10-29 10:17] adamsau opened #372 "Annoying codeclimate "similar code""
#### Issue Summary

The codeclimate checking is too annoying and does not improve code quality. In extreme cases it identifies comments as redundant similar code

#### Steps to Reproduce

refer to some examples of source code:
https://github.com/sendgrid/sendgrid-java/pull/370

#### Technical details:

N/A

[2017-10-29 10:19] rivenhk commented on #371
wrongly created.

[2017-10-29 10:19] #371 closed

[2017-10-29 13:54] mithunsasidharan commented on #325
I will work on this.

[2017-10-29 14:24] mithunsasidharan commented on #327
@rivenhk : I've already submitted a PR for the issue. Thanks !

[2017-10-29 19:47] #367 closed

[2017-10-30 02:47] mbernier commented on #289
@andy-trimble I am curious if you think that running the entire build inside a docker container would solve the issue we talked about? https://docs.travis-ci.com/user/docker/

[2017-10-30 04:46] thinkingserious opened #374 "Fix "similar-code" issue in examples/whitelabel/ips.java"
Similar blocks of code found in 105 locations. Consider refactoring.

https://codeclimate.com/github/sendgrid/sendgrid-java/examples/whitelabel/ips.java#issue_59f3c531dcc9480001000095

[2017-10-30 04:47] #324 closed

[2017-10-30 05:29] thinkingserious opened #375 "Breakup examples to their own files in examples/user/user.java"
File `user.java` has 422 lines of code (exceeds 250 allowed). Consider refactoring.

Break up these examples into their own files, named after the action being shown.

https://codeclimate.com/github/sendgrid/sendgrid-java/examples/user/user.java#issue_59f6aee388b681000100005d

[2017-10-30 05:30] thinkingserious opened #376 "Fix "file_lines" issue in examples/mailsettings/mailsettings.java"
File `mailsettings.java` has 321 lines of code (exceeds 250 allowed). Consider refactoring.

https://codeclimate.com/github/sendgrid/sendgrid-java/examples/mailsettings/mailsettings.java#issue_59f6aee388b6810001000060

[2017-10-30 05:32] thinkingserious opened #377 "Break each example to it's own file from examples/suppression/suppression.java"
File `suppression.java` has 301 lines of code (exceeds 250 allowed). Consider refactoring.

Break up these examples into their own files, named after the action being shown.

https://codeclimate.com/github/sendgrid/sendgrid-java/examples/suppression/suppression.java#issue_59f6aee388b681000100005e

[2017-10-30 05:32] thinkingserious opened #378 "Break up the examples in examples/subusers/subusers.java to their own files"
File `subusers.java` has 263 lines of code (exceeds 250 allowed). Consider refactoring.

Break up these examples into their own files, named after the action being shown.

https://codeclimate.com/github/sendgrid/sendgrid-java/examples/subusers/subusers.java#issue_59f6aee388b681000100005f

[2017-10-30 09:54] huytranrjc commented on #378
I create [PR379](https://github.com/sendgrid/sendgrid-java/pull/379l)
Please review

[2017-10-30 10:07] huytranrjc commented on #374
I created [PR380](https://github.com/sendgrid/sendgrid-java/pull/380l)
Please review

[2017-10-30 12:45] mithunsasidharan commented on #376
@mbernier : https://github.com/sendgrid/sendgrid-java/pull/373

[2017-10-30 14:27] thepriefy commented on #377
I'm working on it :)

[2017-10-30 14:27] thepriefy commented on #375
I'll take this :)

[2017-10-30 14:51] thepriefy commented on #377
Actually, I claimed that... @pushkyn :(

[2017-10-30 14:51] thepriefy commented on #375
I wanna do this one... @pushkyn :(

[2017-10-30 15:19] andy-trimble commented on #289
I believe it would fix several things. We could also start up Prism as a container and avoid all the downloading, scripting, and sleeping. @mbernier

[2017-10-30 17:14] mbernier opened #383 "Add CodeCov support to .travis.yml"
Issue Summary

Add these entries to the .travis.yml file so codecov reports show up!

https://github.com/codecov/example-java/blob/master/.travis.yml

[2017-10-31 02:49] thinkingserious opened #388 "Update the dependency to java-http-client to support version 4.2.0"
#### Issue Summary

We should probably make the dependency always pull the latest minor release.

[2017-10-31 03:20] #333 closed

[2017-10-31 03:20] #363 closed

[2017-10-31 03:24] #355 closed

[2017-10-31 03:57] #181 closed

[2017-10-31 05:46] dsmith47 commented on #332
Pretty sure the files referenced in this issue are gone and the files remaining in contactdb are clean. Is this solved?

[2017-10-31 05:51] Rolstenhouse opened #389 "Avoid URL redirection"
#### Issue Summary
URL in README goes through slow redirection, which could be easily avoided.

#### Steps to Reproduce

Readme in sendgrid/helpers/README.md

[2017-10-31 05:52] Rolstenhouse commented on #389
[#390] https://github.com/sendgrid/sendgrid-java/pull/390

[2017-10-31 06:57] knighthedspi commented on #331
I created [PR 392 ](https://github.com/sendgrid/sendgrid-java/pull/392/files)
Please review

[2017-10-31 07:13] knighthedspi commented on #328
I create [PR393](https://github.com/sendgrid/sendgrid-java/pull/393/files)
Please review

[2017-10-31 11:03] rivenhk commented on #388
i will work on this~

[2017-10-31 16:05] mbernier opened #398 "Hacktoberfest: SendGrid Current Status"
## SendGrid DX team current status:
- Wow
- OMG
- THANK YOU

Hacktoberfest 2017 has completely blown us away. We have had over 900 pull requests from over 300 contributors all in the last 30 days. That is more PRs than we normally get in 2 years!
We are actively working to review, comment, and/or merge as many PRs as we possibly can as quickly as we can.

We are currently working on “intaking” all

[2017-10-31 16:28] karthikJagadeesh commented on #383
Will work on this

[2017-10-31 19:12] thinkingserious opened #399 "Add Code Review to Contributing.md"
- Add a "Code Reviews" section on CONTRIBUTING.md
- Put the following under the header:

- Link the header in the Contributing.md Table of Contents
- Add a link to the README.md file: [Review Pull Requests]("CONTRIBUTING.md#Code-Reviews") under "Contributing Section"

[2017-10-31 20:14] thinkingserious opened #401 "Create a Use Cases Directory"
Due to the success we have seen from hacktoberfest, we are seeing more people create use cases. This is amazing!
We want to make sure that everyone can find them. Please help us to break up this file and make it easier to read and manage:
- Create a Use Cases Directory
- Put a README.md in this directory
- Make a file in the new directory for each individual Use Case from USE_CASES.md, copy the co

[2017-10-31 20:16] #317 closed

[2017-10-31 22:23] TheRatsInTheWalls commented on #285
I had a related issue.  After running it through the 'Try it out' tab a few different ways, my + email worked in the to options, but not the bcc.

[2017-10-31 23:11] thinkingserious opened #404 "Add the ability to impersonate a subuser"
Please see the [Python implementation](https://github.com/sendgrid/sendgrid-python/pull/314) for an example.

[2017-11-01 07:54] Mateeen opened #406 "android sendgrid Conflict with dependency 'org.hamcrest:hamcrest-core'"
i am trying to add sendgrid dependency in gradle
by following these steps
https://app.sendgrid.com/guide/integrate/langs/java#guide/integrate
and i am getting this error while trying to run app

Error:Execution failed for task ':app:preDebugAndroidTestBuild'.

[2017-11-01 13:38] mbernier commented on #375
@thepriefy it looks like @rivenhk had already done it and @pushkyn referenced this issue from Rivenhk's PR.

[2017-11-01 13:39] mbernier commented on #375
Once I get #370 merged, we will see if this issue still needs to be done.

[2017-11-01 13:41] #327 closed

[2017-11-01 16:06] #216 closed

[2017-11-01 20:59] NeelAlex commented on #378
I am providing a suggestion, correct me if i am wrong @thinkingserious @clee @johnclaus @motdotla
In users.java  same line of code keeps repeating, so why don't we club them together somehow like a base class or a separate functions, so that only the redundant part can be called or imported while part that contains the change only needs to be present; thus significantly reducing the code size from

[2017-11-02 04:48] Vishalkoyalkar commented on #133
how you have solved this

[2017-11-02 12:26] PranavKudva commented on #87
@thinkingserious have recently reached a dead end on a very similar problem.

A quick background:
1. The email that we request SendGrid to send has a url(s) in the body.
2. The urls point to an external service.
3. The urls have identifier in the request param helping us know which recipient clicked it. (Pre-existing way enabling us to track which recipient clicked the urls in the sent out emails)

[2017-11-02 15:02] PranavKudva commented on #87
@thinkingserious , have recently reached a dead end on a very similar problem.

A quick background:
1. The email that we request SendGrid to send has a url(s) in the body.
2. The urls point to an external service.
3. The urls have identifier in the request param helping us know which recipient clicked it. (Pre-existing way enabling us to track which recipient clicked the urls in the sent out email

[2017-11-03 19:03] ergin-a1 opened #407 "API call fails even for the valid base64 content - The attachment content must be base64 encoded."
#### Issue Summary

Sending html content with valid attachment fails, this happens for certain images. You can find the  base64 content in the logs. Also attaching image.
Error message is not really helpful. I am able to browse image just fine. Sharing logs as well.

#### Steps to Reproduce

1- Create mailer message
2- Add image as content
Code to attach content
`Attachments sgAttachments = new At

[2017-11-03 20:16] thinkingserious commented on #407
Hello @ergin-a1,

To be sure I understand, are you saying that the attachment functionality works for some images, but not for others? In that case, could you provide an example for a passing vs. failing image? I'm guessing it might be due to the file size.

With Best Regards,

Elmer

[2017-11-03 21:23] ergin-a1 commented on #407
@thinkingserious exactly. Just to give you some background. We have a screen capture service that get images from the web pages and send it to email. Very similar image works fine but this particular one doesn't. I was also concerned about the image size however it's not the case - I was able to send bigger content size just fine.
BRWI've already attached the image above. It's very unusual why cer

[2017-11-03 23:53] thinkingserious commented on #407
Thanks for the follow up @ergin-a1,

Is the image you linked to the one that is failing? I want to do a test with a successful image vs the failing image.

[2017-11-04 00:03] ergin-a1 commented on #407
@thinkingserious, yes this image fails. Meanwhile I am trying to build a test project for you. Sorry, there are so many wrapper, it take some time to strip off everything.

Base64 content attached to payload seems like below. I got rid of the line breaks. I am not sure if  the image uploaded is converted by GitHub so it might result in different Base64.

`iVBORw0KGgoAAAANSUhEUgAAAyAAAABaCAYAAABAIT

[2017-11-04 00:36] thinkingserious commented on #407
Do you kind giving me access to the raw, unencoded image files? One that works, and one that does not.

[2017-11-04 00:58] ergin-a1 commented on #407
@thinkingserious  please see attached files. I really appreciate your prompt reply and help. Thanks a lot.

1- failing_image.txt Base64 content of the image [failing_image.txt](https://github.com/sendgrid/sendgrid-java/files/1442794/failing_image.txt)

2- failing_image_header.json request as JSON  [failing_image_header.json.txt](https://github.com/sendgrid/sendgrid-java/files/1442795/failing_image

[2017-11-04 00:59] thinkingserious commented on #407
Thanks!

Just one more thing. Can you give me the raw image for 1 & 3?

[2017-11-06 21:08] ergin-a1 commented on #407
@thinkingserious I am afraid it's not possible, let me try to convert them to png image but I believe at the end of the day what it matters is the encoded string since I use inline content and attached the file as byte stream. Hope it makes sense. LMK what do you think.

[2017-11-06 21:47] ergin-a1 commented on #407
Fail image:
![fail_image](https://user-images.githubusercontent.com/1533651/32465636-0568f024-c2f9-11e7-9caf-b1adb098d08e.png)

Success image:
![success_image](https://user-images.githubusercontent.com/1533651/32465650-0d81b00c-c2f9-11e7-8041-7977c8b66995.png)

[2017-11-07 19:31] ergin-a1 commented on #407
@thinkingserious I think we found the issue. Apache commons-codec Base64 encode function results in different content for different versions: version 1.9 works fine whereas version 1.4 appends line breaks and I suspect that causes certain content to break though I don't know why and how (could be the decoder on the server side). We are verifying the fix and let you know once this pass our QA.

[2017-11-08 19:31] ergin-a1 commented on #407
@thinkingserious it's confirmed that fix is solving the issue. I believe any version below 1.9 can potentially fail, maybe you can use different encoder or some other solution.
Also we filed a ticket to SG support team and confirmed that it is something to do with the codec in server side (issue id #1288197).
I believe you can close this issue.

[2017-11-09 02:46] thinkingserious commented on #133
Hi @Vishalkoyalkar,

If you are still having an issue, could you please open a new issue?

Thanks!

With Best Regards,

Elmer

[2017-11-09 02:56] thinkingserious commented on #87
Hi @PranavKudva,

This question is better suited for support team, as this is not a library issue. Could you please reach out to our support team [here](https://support.sendgrid.com)?

Thank you!

With Best Regards,

Elmer

[2017-11-09 10:55] jacobmovingfwd commented on #407
@thinkingserious this appears to be similar to [this issue in our Ruby library](https://github.com/sendgrid/sendgrid-ruby/issues/174), relating to whether or not the Base64 encoder adds `\r\n` linebreaks in the encoding.

[2017-11-09 23:20] jirungaray opened #408 "Substitutions fail in text/html but work on text/plain"
#### Issue Summary

I'm sending emails using a transactional template, all substitutions work when using plain text, but when I switch to HTML some of them fail.

[code]
This is the list of Key - Value being sent

{ticket_total_price} - ARS 1.0
{booking_id} - 5112102540804096
{ticket_price} - ARS 2.0 **<-- fails**
{store_mail} - locl@mail.com
{event_date} - Tue Nov 07 22:30:00 UTC 2017
{ticket_pen

[2017-11-09 23:28] jirungaray commented on #408
So it seems the culprit was the UI editor, It injected a bunch of HTML inside the replacement tags which I couldn't see but broke the tag recognition. Retyping the messed up tags fixe the issue!

[2017-11-09 23:29] #408 closed

[2017-11-10 21:51] thinkingserious commented on #407
That's awesome @ergin-a1!

Would you mind adding this case to our [TROUBLESHOOTING](https://github.com/sendgrid/sendgrid-java/blob/master/TROUBLESHOOTING.md) section as a PR? That way, I can send you some swag :)

With Best Regards,

Elmer

[2017-11-10 21:59] thinkingserious commented on #408
Thanks for following up @jirungaray!

[2017-11-11 13:13] gabber12 commented on #176
Facing a similar issue

! at org.apache.http.impl.conn.DefaultHttpResponseParser.parseHead(DefaultHttpResponseParser.java:143)
! at org.apache.http.impl.conn.DefaultHttpResponseParser.parseHead(DefaultHttpResponseParser.java:57)
! at org.apache.http.impl.io.AbstractMessageParser.parse(AbstractMessageParser.java:261)
! at org.apache.http.impl.DefaultBHttpClientConnection.receiveResponseHeader(Defau

[2017-11-13 08:23] gabber12 commented on #176
This happens if the sendgrid client is reused for multiple api calls for a long time.
Fixed it by using a ClientPool with a small expiry.

[2017-11-13 15:13] mbernier commented on #176
@gabber12 Would you be interested in creating a PR against this repo with this change? I think this could be very helpful for other users of the library!!

[2017-11-13 22:32] sergmain opened #409 "Remove oss-parent"
Remove dependency on oss-parent. This project was deprecated 3 years ago.

---------------------------
DEPRECATION WARNING:

This project is no longer active or supported. We suggest to manage parent POM files for your own organization as needed. The POM files from this project no longer work with latest Maven and/or Java versions.

For deployments to the Central Repository and the needed setup, p

[2017-11-13 22:35] #409 closed

[2017-11-13 22:36] sergmain commented on #409
miss up oss-parent and oss-parents

[2017-11-16 17:47] #341 closed

[2017-11-16 19:26] #328 closed

[2017-11-16 19:26] #377 closed

[2017-11-18 10:30] royjulien opened #411 "Substitution rendering empty"
#### Issue Summary
addSubstitution doesn't seem to be passed through the email.

The logs return the `referral_code` correctly, it pushed to the Firestore DB. The placeholder within the email doesn't seem to be substituting `{{referral_code}}`, yet it is removed by a blank.

Here is my code

#### Technical details:
Angular 4.3, Firebase Cloud Functions:

[code]

[code]

[2017-11-20 02:19] #411 closed

[2017-11-21 15:02] mbernier opened #412 "Javadoc failures during Travis Build - @param doesn't exist"
#### Issue Summary

It looks like there are some pretty basic Javadoc errors that are popping up during the Travis build, which are causing the build to halt. [You can see them here](https://travis-ci.org/sendgrid/sendgrid-java/jobs/304435788). It looks like a couple params are declared in the docs, but not used in the code.

Please fix these up

#### Steps to Complete

1. Fix the issues
2. Make t

[2017-11-21 15:02] #354 closed

[2017-11-27 23:16] roshanail commented on #181
I noticed that click tracking has been fixed. However open tracking still has the Include.NON_DEFAULT annotation in it.
So has it only been fixed for click tracking and not the other tracking settings?

[2017-11-28 08:30] thinkingserious commented on #181
Hi @roshanail,

Can you please point me to where you are seeing that? [This](https://github.com/sendgrid/sendgrid-java/blob/master/src/main/java/com/sendgrid/helpers/mail/objects/OpenTrackingSetting.java#L13) is what I see.

With Best Regards,

Elmer

[2017-12-08 17:23] ank29 commented on #177
Hi all

While sending mail through sendgrid ,I am getting an extra ' Â ' character in the mail.
Please help me in resolving it.

[2017-12-11 08:28] drazzib opened #413 "Support for SendGrid Rate Limits"
#### Issue Summary

It would be great if sendgrid-java provide a more convenient way to [retrieve rate limits from HTTP headers](https://sendgrid.com/docs/API_Reference/Web_API_v3/How_To_Use_The_Web_API_v3/rate_limits.html).

A first step, would be to provide simple accessors for Limit, Remaining, Reset attributes on each returned response.

#### Technical details:

* sendgrid-java version: v4.1.2

[2017-12-12 18:27] roshanail commented on #181
Looks like it came in on this merge you did 14 days ago

https://github.com/sendgrid/sendgrid-java/commit/22ba9e97cfb720b1d5495f6018495ac144821a0a#diff-39711246df8201ee796925f1177ea824

It wasn't there when I looked at it.

Thanks for the update

[2017-12-14 02:21] thinkingserious commented on #177
Hello @ank29,

In order to better assist you could you please help us by doing the following:

1. Open a new issue
2. Provide example code that is causing this problem

Thank you!

With Best Regards,

Elmer

[2017-12-14 02:31] thinkingserious commented on #413
Thanks @drazzib! Excellent suggestion :)

[2017-12-14 02:32] thinkingserious commented on #413
Please follow progress here: https://github.com/sendgrid/sendgrid-java/issues/169

[2017-12-14 02:32] #413 closed

[2017-12-14 06:46] thinkingserious commented on #181
Thanks for following up @roshanail!

[2017-12-15 19:21] teju2friends opened #415 "SubscriptionTrackingSetting if set to false"
https://github.com/sendgrid/sendgrid-java/blob/4d58fcb8b34daa0914ecfcbe23a954277ac85f91/src/main/java/com/sendgrid/helpers/mail/objects/SubscriptionTrackingSetting.java#L14

Property enabled is not included in JSON if set to false.
This should be set to @JsonInclude(Include.NON_EMPTY) or ALWAYS

Or this field should me made optional by treating false as default

[2017-12-15 19:40] #415 closed

[2017-12-15 21:24] thinkingserious commented on #415
Thanks for the update!

[2017-12-16 18:19] thomasjbake-autogravity commented on #181
Could you please do the same thing for OpenTrackingSetting.java? It has the same problem now.

[2017-12-19 20:27] ddillard opened #416 "Need to update Jackson"
#### Issue Summary

Currently, sendgrid-java uses Jackson 2.5.3.  Unfortunately, Jackson Databind 2.5.3 has a [known remote code execution vulnerability](https://github.com/FasterXML/jackson-databind/issues/1599).  Also, given how far back the fix was made it appears that Jackson 2.5.x is no longer supported as no fix was made for 2.5.

#### Steps to Reproduce

1. Read https://github.com/FasterXML

[2017-12-19 23:25] thinkingserious commented on #416
Hello @ddillard,

Do you mind adding your vote to [this issue](https://github.com/sendgrid/sendgrid-java/pull/410)? It is scheduled to be merged in our backlog and your vote helps give it priority.

Thanks!

With Best Regards,

Elmer

[2017-12-19 23:25] #416 closed

[2017-12-21 09:45] baignomi opened #417 "Lorg/apache/http/conn/ssl/AllowAllHostnameVerifier issue"
using this: compile 'com.sendgrid:sendgrid-java:4.1.2'
Sdk :23

Caused by: java.lang.NoSuchFieldError: No static field INSTANCE of type Lorg/apache/http/conn/ssl/AllowAllHostnameVerifier; in class Lorg/apache/http/conn/ssl/AllowAllHostnameVerifier; or its superclasses (declaration of 'org.apache.http.conn.ssl.AllowAllHostnameVerifier' appears in /system/framework/framework.jar:classes2.dex)

[2017-12-27 05:44] baignomi commented on #388
@thinkingserious
I am using your sendGrid lib for android . I include

compile 'com.sendgrid:sendgrid-java:4.1.2'
compile 'com.sendgrid:java-http-client:4.2.0'
in Gradle.But it does not work.It gives this error while sending email
 Caused by: java.lang.NoClassDefFoundError:
Failed resolution of: Lorg/apache/http/impl/client/HttpClients;
 I am using this for latest android versions Nougat and Marsh

[2017-12-27 11:07] baignomi commented on #161
@syc-pad
I uses your but not get any result.
 public static final MediaType JSON= MediaType.parse("application/json; charset=utf-8");
  OkHttpClient client = new OkHttpClient();

            JSONObject json = null;
            try {
                json = new JSONObject("{\"personalizations\": [{\"to\": [{\"email\": \"noomi0312@yahoo.com\"}]}],\"from\": {\"email\": \"john.smith@test.com\"},\"attac

[2018-01-02 18:42] thinkingserious commented on #417
[Here](https://github.com/sendgrid/sendgrid-java/issues/82) is a possible solution. Please let me know if that helps you. Thanks!

[2018-01-02 21:10] thinkingserious commented on #388
Hello @baignomi,

I believe [this is your issue](https://stackoverflow.com/questions/9663927/java-lang-noclassdeffounderror-org-apache-http-client-httpclient). Please take a look at your dependencies to resolve as described in the link.

With Best Regards,

Elmer

[2018-01-02 21:14] thinkingserious commented on #161
Hello @baignomi,

A few more questions so that I can help you better:

1. What version of this SDK are you using?
2. What outputs are you seeing?

With Best Regards,

Elmer

[2018-01-08 20:21] tstreamDOTh commented on #399
@thinkingserious Can I work on this?

[2018-01-09 19:30] thinkingserious commented on #399
@tstreamDOTh,

This issue is solved by #402; however, there are [many other issues still available here](https://github.com/sendgrid/sendgrid-java/issues). Please let me know if I can help you get started.

With Best Regards,

Elmer

[2018-01-17 00:26] pacbac commented on #412
Hi, I'm working on this right now!

[2018-01-17 22:07] thinkingserious commented on #412
Thanks @pacbac!

[2018-01-23 09:01] bhargodevarya opened #419 "Unable to build the master branch"
#### Issue Summary
I am trying to build the master branch, but unable to do so.
I get the following errors:

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.1:compile (default-compile) on project sendgrid-java: Compilation failure: Compilation failure:
[ERROR] /D:/code/github/opensource/java/sendgrid-java/src/main/java/com/sendgrid/helpers/mail/objects/Content.java:

[2018-01-23 09:04] bhargodevarya commented on #419
File was changed as part of https://github.com/sendgrid/sendgrid-java/commit/43429dac1cc40e6c5fad42257ef0b4714cd9d75f

[2018-01-23 16:12] marpit opened #420 "Email is sent twice sometimes"
Email is sent twice sometimes.

[code]

[2018-01-23 17:03] thinkingserious commented on #419
Hello @bhargodevarya,

Thanks for reporting this. I've added this to our backlog for further investigation.

With Best Regards,

Elmer

[2018-01-23 17:05] thinkingserious commented on #420
Hello @marpit,

To debug that, I suggest looking at the output of the `to` variable to see if the email is not included twice and the calling function to see if it's calling the above code twice.

With Best Regards,

Elmer

[2018-01-23 17:25] bhargodevarya commented on #419
@thinkingserious

I was able to resolve this, changes are are as follows, have not raised a PR though.

https://github.com/bhargodevarya/sendgrid-java/commits/419

when I try to test the project using mvn clean test, I get another error which is as follows;-

barya@BLRBARYA75771 MINGW64 /d/code/github/opensource/java/sendgrid-java (419)
$ mvn clean test
[INFO] Scanning for projects...
[INFO]
[INFO

[2018-01-23 23:15] mkporwit opened #421 "Email object does not handle entries with semi-colons properly"
#### Issue Summary

When creating the `to` Email, if the name contains semi-colons, sendgrid gets the field order wrong.

We discovered this during our user registration flow, when a person fat-fingered their last name and accidentally had it end in ';;' instead of 'll'. Our systems handled it fine, and sendgrid accepted the email for delivery, but no registration mail was ever sent. Upon further

[2018-01-24 08:04] marpit commented on #420
Hello @thinkingserious . Thank you for response, bat I assert size of input sequence and size corresponds with expected size. After I log sent emails (logging before send function) and result has expected size. After I check received emails and count of emails is higher that expected count.

[2018-01-24 22:36] thinkingserious commented on #421
Hi @mkporwit,

Thanks for taking the time to let us know about this.

Have you [tried sending directly](https://sendgrid.com/docs/API_Reference/api_v3.html) without this SDK (e.g. cURL)?

I have added this to our backlog for further review. First step is to determine if this is a SDK issue. If it is not, then our [support team](https://support.sendgrid.com) would be the route towards a resolution.

[2018-01-24 22:40] thinkingserious commented on #420
Hello @marpit,

By how much does the expected count differ?

Can you describe your logging methods? Perhaps there is an issue with the logging.

Also, I'd add some logging to capture my suggested debugging ideas.

With Best Regards,

Elmer

[2018-01-25 05:03] marpit commented on #420
Hello @thinkingserious,
Count is different about 2 emails ussualy (is received 14 emails instead of 12). So, I simplify the unit test and insert code and output there.

[2018-01-25 12:10] marpit commented on #420
`test("SendEmails") {
    var i = 0;
    val toSend: Seq[SendGridEmail] = for( i <- 1 to 12)
      yield SendGridEmail(s"test: $i", Seq("example@mail.com"), s"This is email with index $i.")

    assert(toSend.size == 12)

    runAction[SendGridEmail](
      Seq(toSend),
      stream =>
        new EmailSenderSink(stream).declare(
          EmailSenderFactory,
          EmailSenderSink.Config(

[2018-01-26 02:19] thinkingserious commented on #420
Hello @marpit,

Thanks for the update!

I have a couple points of feedback:

1. Please do not post your SendGrid key publicly. For your account's safety I have removed it from your comment and we are going to deactivate that key. Please create a new one. I've also removed the emails in your log files to protect the privacy of that email.
2. How did you install this SDK? I'm trying to determine wha

[2018-01-26 02:52] thinkingserious commented on #420
Hello @marpit,

One more favor, could you please email us at dx@sendgrid.com with your SendGrid username?

Thank you!

With Best Regards,

Elmer

[2018-02-06 07:46] marpit commented on #420
2.  SBT
`"com.sendgrid" % "sendgrid-java" % "4.1.2"`

[2018-02-06 23:34] thinkingserious commented on #420
Hi @marpit,

Could you please tell me the subject line of your email, as I'm unable to find it?

Thanks!

With Best Regards,

Elmer

[2018-02-07 06:57] marpit commented on #420
Hello @thinkingserious,

Subject of email is "Sengrid username".

[2018-02-07 20:27] thinkingserious commented on #420
Thank you!

One thing I might suggest is to not use the `Mail` constructor when sending multiple email, instead [try this](https://github.com/sendgrid/sendgrid-java/blob/master/examples/helpers/mail/Example.java#L27). I'm thinking the additional email may happen because you are using the constructor, plus adding a `Personalization` object.

With Best Regards,

Elmer

[2018-02-09 06:50] marpit commented on #420
Hello @thinkingserious,

thank you for answer bat I don't see problem if I am using constructor. Bat I modified my test and now I am using constructor only without personalization object.

[code]

I don't see difference between our solution and your example code. I think that booth solutions will same results, same calls for our API. Can you explain where is difference please?

Thanks.

[2018-02-13 01:37] thinkingserious commented on #420
Hi @marpit,

When you use the constructor, we create a personalization object for you behind the scenes. I was thinking that might be the cause of the extra email.

I was thinking that if you setup the personalization objects yourself, without the constructor, there would be less "magic" happening and we might figure out the root of the duplicate emails.

With Best Regards,

Elmer

[2018-02-28 05:18] lmlainez opened #423 "PDF Empty when attaching it to email"
#### Issue Summary

I am trying to send emails with a PDF attachment. Once I receive the email, the pdf is a blank page.
I tried both with very simple pdfs and fairly complex ones. The result is always is the same. I tried then, with the same code, to send a .txt file and it works just fine.

#### Steps to Reproduce

1. Read a pdf file from file or generate one. Get the byte[]
2. Get the base64 en

[2018-02-28 19:52] thinkingserious commented on #423
Hello @lmlainez,

Thanks for taking the time to report this, I've added this to our backlog for a deeper inspection.

With Best Regards,

Elmer

[2018-02-28 20:46] #417 closed

[2018-02-28 20:49] #398 closed

[2018-02-28 20:51] #378 closed

[2018-02-28 21:27] #330 closed

[2018-02-28 21:29] #290 closed

[2018-02-28 21:32] #287 closed

[2018-02-28 21:33] #279 closed

[2018-02-28 21:33] #278 closed

[2018-02-28 21:36] #269 closed

[2018-02-28 21:53] #230 closed

[2018-02-28 21:54] #206 closed

[2018-02-28 21:54] #194 closed

[2018-02-28 21:55] #189 closed

[2018-02-28 21:56] #169 closed

[2018-02-28 21:57] #147 closed

[2018-02-28 21:58] #129 closed

[2018-02-28 23:36] lmlainez commented on #423
Hey, sorry this is not an issue!
I tried to encode with :  new String(Base64.getEncoder().encode(build.toString().getBytes()))

and it works fine.
Sorry about this.
I don't know why it doesn't work with the others examples. But not really worth looking into it.

[2018-03-01 06:04] lmlainez commented on #423
Hey,
Not an issue anymore. In my real life example I use a ByteArrayOutput stream, so I did:

`
 ByteArrayOutputStream pdfBytes = createPdf()
            String encodedPdf = new String(Base64.getEncoder().encode(pdfBytes.toByteArray()))

            Mail mail = new Mail(
                    new Email(emailTo),
                    getEmailSubject(),
                    new Email(getEmailTo()),

[2018-03-01 19:07] thinkingserious commented on #423
Thanks for following up @lmlainez!

[2018-03-01 19:07] #423 closed

[2018-03-07 14:36] gyuuu opened #424 "< character followed by @ character in name of the Email object cause Error in email delivery"
#### Issue Summary

If you set the name of the to field to a string which contains **<@** string then the delivery fails and the webhook contains wrong email address in the email field, so it looks like some xml parsing issue. We tried with XML Escaped name aswell and we got the same results.

If the < character is followed with a > character then the delivery is successful

I'm not sure that the

[2018-03-07 14:40] gyuuu commented on #424
If the name is **test<><** then the delivery is successful, but the email didn't have body. So it looks like these symbols cause anomalies in xml parsing and some parts are skipped or merged.

[2018-03-07 21:41] thinkingserious commented on #424
Thanks for letting us know @gyuuu,

I will try to reproduce with cURL to see if it's an API level issue. This issue is now on our backlog for further investigation.

With Best Regards,

Elmer

[2018-03-14 17:54] thinkingserious opened #425 "Updates for the new Email Activity API (beta)"
SendGrid has added an API to download information from the Email Activity feed. There are four new endpoints:
* [GET /messages](https://sendgrid.api-docs.io/v3.0/email-activity/filter-all-messages)
* [GET /messages/{msg_id}](https://sendgrid.api-docs.io/v3.0/email-activity/filter-messages-by-message-id)
* [POST /messages/download/](https://sendgrid.api-docs.io/v3.0/email-activity/request-csv)
* [G

[2018-03-16 01:59] ivanchaukn commented on #417
I'm having the same issue. Can someone please help?

Here are my gradle dependencies, maybe something is conflicting?:

    compile files('libs/activation.jar')
    compile files('libs/additionnal.jar')
    compile files('libs/commons-lang3-3.3.2.jar')
    compile files('libs/jxl.jar')
    compile group: 'org.apache.poi', name: 'poi', version: '3.10-FINAL'

    compile 'com.android.support:appcomp

[2018-03-20 16:08] thinkingserious commented on #417
Hello @ivanchaukn,

What is the error you are receiving?

Thanks!

With Best Regards,

Elmer

[2018-03-21 06:51] AIMMOTH opened #426 "Clearer use case for template"
#### Better use case for template

In use cases there is an example of sending mail with content and template. The content actually contains "this will replace body" which is very confusing since the mail should send a template and not any specified content.

#### Steps to Reproduce

1. Go to https://github.com/sendgrid/sendgrid-java/blob/master/USE_CASES.md
2. Read the uses case which specifies c

[2018-03-22 20:15] thinkingserious commented on #426
Hello @AIMMOTH,

Thanks for reaching out! I hope [this documentation](https://github.com/sendgrid/sendgrid-java/blob/master/USE_CASES.md#transactional_templates) is what you need.

With Best Regards,

Elmer

[2018-03-28 23:08] sean-madden opened #427 "Unable to send email when "To" email has special characters"
#### Issue Summary
Hello, I am preparing to expand my email sending internationally, which requires me to send emails to e-mail address like "émail@example.com".

I've been attempting to send emails using the SDK, which we use for all of our current emails, but I am unable to send messages to users with characters like "é" in their email address. Trying to send to `émail@example.com` results in Se

[2018-03-28 23:41] thinkingserious commented on #427
Hello Sean,

I've added your voice to our list of upvoters [here](https://github.com/sendgrid/sendgrid-csharp/issues/656). Please follow that thread for updates.

Thanks!

With Best Regards,

Elmer

[2018-03-28 23:41] #427 closed

[2018-03-31 18:58] caesarkim opened #428 "Request returned status Code 403 Body - retrieving templates"
#### Issue Summary

I am getting Exception in thread "main" java.io.IOException: Request returned status Code 403Body:{"errors":[{"field":null,"message":"access forbidden"}]} for retrieving campaigns.  I changed my api key to full access.

Here is stacktrace.

	at com.sendgrid.Client.executeApiCall(Client.java:287)
	at com.sendgrid.Client.get(Client.java:163)
	at com.sendgrid.Client.api(Client.jav

[2018-03-31 19:11] #428 closed

[2018-04-06 21:42] thinkingserious commented on #221
Add #258 to this release.

[2018-04-09 15:00] JohannBlake opened #429 "Where to install .env file"
Your doc states the following:

Yet you fail to indicate where to. Seems kind of ridiculous that this has gone unnoticed for so long. Please update your docs to indicate where this copied file should be placed. Thanks.

[2018-04-12 13:12] pvineeth11 opened #431 "Error: Could not find or load main class finaljava.Finaljava C:\Users\Vineeth\AppData\Local\NetBeans\Cache\8.1\executor-snippets\run.xml:53: Java returned: 1"
#### Issue Summary

A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, code examples.

#### Steps to Reproduce

1. This is the first step
2. This is the second step
3. Further steps, etc.

Any other information you want to share that is relevant to the issue being reporte

[2018-04-12 13:13] pvineeth11 commented on #431
Error: Could not find or load main class finaljava.Finaljava
C:\Users\Vineeth\AppData\Local\NetBeans\Cache\8.1\executor-snippets\run.xml:53: Java returned: 1

[2018-04-13 22:47] thinkingserious commented on #431
Hello @pvineeth11,

Could you please elaborate on your issue? I'm not quite sure how your error relates tot his SDK.

Thanks!

With Best Regards,

Elmer

[2018-04-22 12:47] masterminduday opened #432 "Fatal Exception: java.lang.NoSuchFieldError"
Fatal Exception: java.lang.NoSuchFieldError
No field INSTANCE of type Lorg/apache/http/conn/ssl/AllowAllHostnameVerifier; in class Lorg/apache/http/conn/ssl/AllowAllHostnameVerifier; or its superclasses (declaration of 'org.apache.http.conn.ssl.AllowAllHostnameVerifier' appears in /system/framework/framework.jar:classes2.dex)

[2018-04-22 17:43] Gesias commented on #217
So the suggested solution is to replace all the text in the email template by supplying variables..? That does look like a very compelling solution to me. I will be running into this, is the recommended way of doing it creating one template for every language then?

[2018-04-23 15:38] thinkingserious commented on #217
@Gesias,

Perhaps our new templating system will do what you need. You can follow [this thread](https://github.com/sendgrid/sendgrid-nodejs/issues/221) for updates and get onto the beta.

With Best Regards,

Elmer

[2018-05-05 05:33] prakashbariya opened #433 "trying to pass a large amount of data through API an at this moment our API doesn't support a large amount of data"
#### Issue Summary

trying to pass a large amount of data through API an at this moment our API doesn't support a large amount of data , its get 400 error from sendgrid.
`java.io.IOException: Request returned status Code 400 {
    "errors": [
        {
            "message": "Substitutions are limited to 10000 bytes per personalization block.",
            "field": "personalizations.0.substitution

[2018-05-07 23:59] thinkingserious commented on #433
Hello @prakashbariya,

This is a limitation of the underlying API. However, we have a new feature which should solve this problem for you. Please follow [this thread](https://github.com/sendgrid/sendgrid-nodejs/issues/221) for details.

With Best Regards,

Elmer

[2018-05-07 23:59] #433 closed

[2018-05-11 07:04] gopinathpuppaladev opened #434 "Java client needed for reply email capture received from inbound parse api"
#### Issue Summary

I am receiving reply email body from inbound parse webhook url, then i am facing issue with parse the email content.

If you able to build this java client it will be helping us.

Thanks

[2018-05-14 20:13] marshallpierce opened #435 "Thread safety of the library?"
I see from https://github.com/sendgrid/sendgrid-java/issues/213 that the library is claimed to be thread safe. However, a few minute's inspection of the `SendGrid` class shows this is not true. All fields are not safely initialized, and therefore all usage of them is unsafe. Similarly, the `requestHeaders` field is itself mutable and not thread safe. I stopped looking once I found that much, so th

[2018-05-15 02:48] thinkingserious commented on #434
Yes, that would be great!

For guidance:

[SendGrid Inbound Parse Webhook](https://sendgrid.com/docs/API_Reference/Webhooks/inbound_email.html).

### Acceptance Criteria:
- Implement all the functions [here](https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid/helpers/inbound/parse.py).

### Reference:
- https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid/helpers/inbound/p

[2018-05-22 09:43] aravindbargurhiriyannaiah commented on #259
Hello,

We are using the SendGrid java api and are getting this exception. The API key and other details are valid. There is no attachment either
[code]
Can you please help us out

[2018-05-22 17:17] thinkingserious commented on #259
Hello @aravindbargurhiriyannaiah,

This appears to be a network issue, which I'm unfortunately not equipped to help with.

I suggest that you report this issue to our [support team](https://support.sendgrid.com) so that they can investigate further.

Thank you!

With Best Regards,

Elmer

[2018-06-12 14:34] boubbin commented on #259
I had this exact same problem and was due to apikey was not correct one. If in doubt, generate new one.

Its very easy to miss copy pasting one character there and here, found this only by debugging in PRODUCTION to find out that i missed one character from the beginning.

[2018-06-15 18:27] ntad2 opened #439 "java sendgrid jar to embed images"
#### Issue Summary
Does anyone have a working java code sample of embedding images with html content using the sendgrid api? There is very little documentation (and/or it's confusing) and few code samples. SendGrid Technical Support told me to post my request here.

I'm trying to use the sendgrid-java.jar. The best code sample I could find is https://github.com/sendgrid/sendgrid-java/blob/master/e

[2018-06-15 22:58] benstpierre opened #440 "Latest version does not support Java 9 Modules"
#### Issue Summary

The latest sendgrid api does not support Java 9 modules.  Not only is there no module-info.java your api uses split packages which disqualifies it from use in the java 9 Module system.

You get this error when you try to use it...

Module 'yourmodule' reads package 'com.sendgrid' from both 'sendgrid.java' and 'java.http.client'

#### Steps to Reproduce

Try to use sendgrid 4.2.

[2018-06-18 22:47] ravuthlong commented on #406
Add this to Gradle

android {
    configurations.all {
        resolutionStrategy.force 'org.hamcrest:hamcrest-core:1.3'
    }
}

[2018-06-20 07:11] Premasanthakumar opened #441 "No ClassDefFound:com/sendGrid/Email"
I using spring framework and i have included the jar files using the spring framework.I have even tired cleaning the project but results in the same error.Any idea for the cause of error.

[2018-06-25 21:15] thinkingserious commented on #259
Hello @aravindbargurhiriyannaiah,

Have you tried creating a new API key as @boubbin suggested?

[2018-06-25 22:20] thinkingserious commented on #439
Hello @ntad2,

I think [this example may help](https://github.com/sendgrid/sendgrid-java/blob/master/examples/helpers/mail/Example.java#L120). Please let me know. Thanks!

With Best Regards,

Elmer

[2018-06-25 22:28] thinkingserious commented on #440
Thanks for reporting this @benstpierre!

I have added this to our backlog. For this issue to gain priority in our backlog, we need additional +1's or a PR. When we receive a PR, that provides the biggest jump in priority.

[2018-06-25 22:43] thinkingserious commented on #406
Thanks @ravuthlong!

@Mateeen,

Did that solve your issue?

[2018-06-25 23:51] thinkingserious commented on #441
Hello @Premasanthakumar,

In order to help, I will need a bit more detail:

1. Where did you download the jar from
2. How did you add the jar into your project
3. Can you provide more of the error output?

Thanks!

With Best Regards,

Elmer

[2018-06-26 03:42] Premasanthakumar commented on #441
Thank you, I have resolved the issue it was due the version problems in the
jar files.

On Tue, Jun 26, 2018 at 5:21 AM, Elmer Thomas <notifications@github.com>
wrote:

[2018-06-26 18:30] ntad2 commented on #439
Hi Elmer,
Thank you for replying. Unfortunately, that example has everything including the kitchen sink. I.e. "Fully populated Mail object example". It will take me some time to decipher it. From what I've read and can piece together from the documentation, there are multiple fields I will have to set/configure. I just don't know exactly which ones and how. That's why I was hoping the people who w

[2018-06-26 18:38] thinkingserious commented on #441
Thanks for the follow up!

[2018-06-26 18:38] #441 closed

[2018-06-27 00:30] thinkingserious commented on #439
Hello @ntad2,

[Line 120](https://github.com/sendgrid/sendgrid-java/blob/master/examples/helpers/mail/Example.java#L120) has the code example you need. Then in your HTML, you would use: `<img src="cid:Banner">`.

I hope that helps!

With Best Regards,

Elmer

[2018-06-27 13:06] chostrander opened #442 "Using Substitution with template works first time but fails everytime after."
#### Issue Summary
I am working on a POC for my company.   I am stuck where I created a template with  "-custom_message-" tag to substitute the value for.  I modify the template and the first call to send email work but the subsequent doesn't.  Here is example code:

[code]

#### Technical details:

* sendgrid-java Version: 4.2.1 version from Maven repository
* Java Version: 10.0.1
* submitted sup

[2018-07-03 03:43] thinkingserious commented on #442
Hello @chostrander,

To clarify. The above code in contained in some function where the first time it's called the substitution works fine, but on subsequent function calls the substitution does not work. Is that correct?

In the case of the failed call, what happens?

With Best Regards,

Elmer

[2018-07-03 21:29] thinkingserious commented on #439
Hello @ntad2,

On this line of code `attachments2.setContent("BwdW");`, `BwdW` should be the base64 encoded version of your image.

[2018-07-10 05:19] Premasanthakumar opened #443 "Request returned status Code 404Body:{"error": "Resource not found"}"
[code]

[2018-07-12 07:34] Premasanthakumar commented on #443
Though i changed it ,reflects with a 404 error

[2018-07-12 21:41] thinkingserious commented on #443
Hello @Premasanthakumar,

This means that the template id might be incorrect. Please try [this API call](https://github.com/sendgrid/sendgrid-java/blob/master/USAGE.md#retrieve-all-transactional-templates) to verify.

With Best Regards,

Elmer

[2018-07-13 04:10] Premasanthakumar commented on #443
Hello,

Ya,by changing that it works but i get a 200 error.What is the reason for
that.

Code:

import com.sendgrid.*;
import java.io.IOException;
import com.sendgrid.Content;
import com.sendgrid.Email;
import com.sendgrid.Mail;
import com.sendgrid.Method;
import com.sendgrid.Request;
import com.sendgrid.Response;
import com.sendgrid.SendGrid;
import java.io.IOException;

public class SendEmail {

[2018-07-20 22:40] TruePai opened #444 "Connect to api.sendgrid.com:443 failed"
#### Issue Summary

I use sendgrid java api to send email from JSP backend.
This is function to send email.
`public class Mailer {
    public static int sendMail(String addr_to, String addr_from, String str_subject, String html) {
        Email from = new Email(addr_from);
        String subject = str_subject;
        Email to = new Email(addr_to);
        Content content = new Content("text/plane

[2018-07-20 23:35] kplimack commented on #444
@TruePai can you test your connection using `telnet` or `openssl s_client` ?

[2018-07-21 01:30] TruePai commented on #444
Hi @kplimack
I tried following telnet command and I couldn't get response.
`telnet api.sendgrid.com 443`
The response is
`Connecting To api.sendgrid.com...Could not open connection to the host, on port 443: Connect failed`

So is this related to my internet connection? I believe that I am in good internet connection.

[2018-07-21 02:21] kplimack commented on #444
@TruePai  That sounds like you are having connection issues, I'm able to connect, but I resolve different IPs than you do.  Perhaps you need to flush your dns cache.  If that does not work, I suggest you contact SendGrid support who may be able to further assist you.

[2018-07-24 00:43] thinkingserious commented on #443
Hello @Premasanthakumar,

A 200 status code is not an error, it means you are running in sandbox mode. [Here is a complete list](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html) of SendGrid status codes.

Did you get the expected result from `response.getBody()`?

With Best Regards,

Elmer

[2018-07-24 01:04] thinkingserious commented on #444
Hello @TruePai,

Are you still having connection issues?

With Best Regards,

Elmer

[2018-07-24 01:04] thinkingserious commented on #444
Thanks for helping out @kplimack!

[2018-07-24 05:34] Premasanthakumar opened #445 "nested exception is java.lang.NoSuchMethodError: com.fasterxml.jackson.core.JsonFactory.requiresPropertyOrdering()Z] with root cause"
https://jar-download.com/explore-java-source-code.php?a=sendgrid-java&g=com.sendgrid&v=3.2.1&downloadable=1

I downloaded the jar from here.
I am not using maven but i have tired different versions i end up in the same error again.

[2018-07-24 05:37] Premasanthakumar commented on #443
Yup i have done it right...Thank You!!

[2018-07-24 05:37] #443 closed

[2018-07-24 14:47] TruePai commented on #444
Hi all, @kplimack is right. There was a connection issue.
I have fixed the connection issue but there is another problem-outlook/hotmails are blocked to be sent through sendgrid. I could find them in blocks list in sendgrid.
The reason is
`550 5.7.1 Unfortunately, messages from [167.89.106.6] weren't sent. Please contact your Internet service provider since part of their network is on our block li

[2018-07-24 20:47] thinkingserious commented on #445
Can you please try downloading from [here](https://github.com/sendgrid/sendgrid-java/releases/download/v4.2.1/sendgrid-java.jar)? Thanks!

[2018-07-24 21:01] thinkingserious commented on #444
Hello @TruePai,

I would reach out to our [support team](https://support.sendgrid.com).

Thanks!

[2018-07-25 04:49] Premasanthakumar commented on #445
java.lang.NoClassDefFoundError: Could not initialize class com.sendgrid.Mail

This is the error i get after adding the jar which you have send

[2018-07-25 20:43] thinkingserious commented on #445
Hello @Premasanthakumar,

Have you tried the solution offered [here](https://stackoverflow.com/a/30316991)? I suspect there is an issue with how the dependencies are defined in your project.

With Best Regards,

Elmer

[2018-07-26 04:44] xiandingwang opened #446 "How to use a template to send mail？"
I am based on this demo：
https://github.com/sendgrid/sendgrid-java/blob/master/USE_CASES.md#transactional-templates
But, get this error result:
`Request returned status Code 400Body:{"errors":[{"message":"Substitutions may not be used with dynamic templating","field":"personalizations.0.substitutions","help":"http://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html#message.personalizatio

[2018-07-26 18:47] thinkingserious opened #447 "Add Dynamic Template Support"
#### Issue Summary

On 7/24/2018, our team publicly launched dynamic content for transactional templates. It is now available for all customers sending over v3 of our Mail Send API. Iterate over lists, handle conditionals and more, thanks to native support for a subset of Handlebars syntax!

More information can be found in our [blog post announcement](https://sendgrid.com/blog/how-to-use-sendgrid

[2018-07-26 18:48] thinkingserious commented on #446
Hello @xiandingwang,

If you are using the latest versions of our templates, [please see this issue](https://github.com/sendgrid/sendgrid-java/issues/447).

That example still works with our legacy templates.

With Best Regards,

Elmer

[2018-07-27 16:51] chsing opened #448 "Content is still required when template is used"
When sending a Mail object with a template set, the call returns 400 with the following error:
[code]

Here's a code snippet based off the example in [USE_CASES.md](https://github.com/sendgrid/sendgrid-java/blob/master/USE_CASES.md#transactional_templates)
[code]

A workaround is to set content to a blank space like so:
[code]
The above works, but this seems like a bug; if using a template, the co

[2018-07-29 15:11] pdtyreus commented on #446
I worked around this for now by extending `Personalization`.

[code]

then you can use it with the Helper

[code]

I think it would be trivial to submit a PR to update `Personalization` but I don't have time to review the CLA right now.

[2018-07-29 15:40] Markuus13 commented on #447
Hello! I'm working on this issue.

[2018-07-30 03:44] xiandingwang commented on #446
@pdtyreus Thank you very much. I have succeeded.

[2018-07-30 03:45] xiandingwang commented on #446
@thinkingserious Thank you very much for your help. I got the result I wanted.

[2018-07-30 03:45] #446 closed

[2018-07-31 11:47] NavinGelot opened #450 "PDF is corrupted when used with template"
#### Issue Summary

Hello,
In sendgrid template email integration i  am sending json as body to work around with template

i am getting everything right as i want but PDF is not opening in email.
it works with TXT file but not with PDF is anything that i am missing

####code

[code]
I have also tried github api code as per documentation but this is also not working with PDF:

[code]
`
#### Technic

[2018-07-31 20:07] Octember commented on #447
Bump on this. I just got started using Sendgrid and there is no mention that certain libraries are completely incompatible with the recommended new path for dynamic email templates.

Had to spend hours tracking down this issue, to realize it doesn't work at all 😞

I'll have to go with legacy templates for now.

[2018-07-31 20:11] thinkingserious commented on #447
Hello @Octember,

You can use dynamic email templates with this library right now; however, you will need to build the request body yourself. Please see [this example](https://github.com/sendgrid/sendgrid-java/blob/master/USAGE.md#v3-mail-send).

One way to do this is to use our helper to build the request body per usual, then [print out the request body](https://github.com/sendgrid/sendgrid-java/

[2018-07-31 20:16] Octember commented on #447
Thanks for the advice @thinkingserious but I think both approaches, 1) building the JSON manually and 2) Hacking out the request body are both quite hacky, should not be encouraged for production-level APIs.

I'll wait a few days on #449 and check back here.

I appreciate the quick response! Cheers.

[2018-07-31 21:59] nickneiman commented on #447
@Octember, I just had the same experience. One alternative I went with is creating a subclass of `Mail` that contains the dynamic template data property. It was pretty straight forward, not too hacky and seems to be working.

[code]

[2018-08-01 08:49] hmeerlo commented on #447
I think it is strange that a company that has a SaaS proposition does not maintain its language integrations itself. You bring out a new v3 version of your API and you rely on the open source community to implement this. People pay for SendGrid, they may expect a maintained version of the library then as well. And it is just a small layer so I so no reason why SendGrid shouldn't maintain this them

[2018-08-01 14:15] hmeerlo commented on #447
@thinkingserious that is good to hear, but in that case I don't understand why you release a new API version without having the supporting libraries ready. But hey, that's a business decision. I use the workaround suggested by @nickneiman for now (which works great).

[2018-08-04 17:43] thinkingserious commented on #450
Hello @NavinGelot,

The PDF needs to be Base64 encoded. [Here](http://blog.icodejava.com/248/how-to-base64-encode-or-base64-decode-a-file-in-java-using-apache-commons-codec/) is one example.

I hope that helps!

With Best Regards,

Elmer

[2018-08-04 18:03] thinkingserious commented on #447
Hello @hmeerlo,

It's a matter of determining priorities against a large backlog with many various customer needs. In this case, since there are working workarounds, the priority is reduced a bit vs. other items. Determining priorities correctly is a challenge, but I think our team's [RICE method](https://sendgrid.com/blog/double-your-velocity-without-growing-your-team-with-rice) is the best prior

[2018-08-09 10:50] leebenson commented on #447
Come on guys, this ought to be done already. Issue reported 2 weeks ago, and it's still not possible to do a simple mail merge via the _official_ SDKs?

[2018-08-09 10:55] hpoul commented on #447
@leebenson try out https://github.com/sendgrid/sendgrid-java/issues/446#issuecomment-408684265 .. support is just 1 copy&paste away, works for me (TM)

[2018-08-09 10:58] leebenson commented on #447
thanks @hpoul, but that's Java. I'm talking about adding official support across _all_ SDKs, including Python and Ruby.

Besides - it's a band-aid. We shouldn't be monkey-patching an incomplete SDK that will soon change from under us. This is a really simple issue their own devs could complete in an hour.

[2018-08-09 11:27] hpoul commented on #447
@leebenson well probably check with the python/ruby issue tracker then.. and to be fair, this is perfectly fine sub classing, monkey patching in java requires quite some effort... and fwiw, i'm just using sendgrid for a week, but I don't have the impression that their API libraries are really that sophisticated or have a high priority for them.. so I wouldn't hold my breath..

[2018-08-09 11:40] leebenson commented on #447
@hpoul, I've reached the same conclusion. Probably best just to build the JSON request manually than rely on SDK abstractions. This is proof of SDK drift that I wouldn't want to risk in the future.

[2018-08-10 14:49] AIMMOTH opened #452 "How to use dynamic template data"
#### Issue Summary

Read generic, curl documentation of how to add dynamic template data but couldn't find any information how to do it with this Java library. Using substitutions created error. Was successful in the end.

#### Steps to Solve

It's not possible to use substitutions for dynamic template data.
Documentation explains how JSON object should include "dynamic_template_data" but this Jav

[2018-08-10 14:56] thinkingserious commented on #452
Hello @AIMMOTH,

Please follow [this issue](https://github.com/sendgrid/sendgrid-java/issues/447).

Thanks!

With Best Regards,

Elmer

[2018-08-10 14:56] #452 closed

[2018-08-13 13:02] AIMMOTH opened #454 "Dynamic template data containing HTML codes are not delivered"
#### Issue Summary

Emails read in MS Outlook are using incorrect coding which means Swedish letters are displayed as "?". As a test, the Swedish letters were replaced by HTML code. SendGrid replied with 202 (accepted but not processed) but the emails where never sent. HTML codes used:

`&Aring; &aring; &Auml; &auml; &Ouml; &ouml;`

#### Steps to Reproduce

1. To use dynamic template data, use thi

[2018-08-13 15:11] kylearoberts commented on #454
Hello @AIMMOTH,

Sorry for the trouble you are having. Do you have the ID of the message that was sent so we can look up the send to see why it was not received? As for the encoding, can you supply what you passed in your call, as I have a feeling this is an issue that has already been identified and brought to our engineers for fixing?

Thank you for your time.
- Kyle

[2018-08-13 23:02] thinkingserious commented on #447
Hi @leebenson,

Thanks for taking the time to voice your concerns as votes and comments help push the priority up our backlog. If you wish to contribute, additional eyes on [this PR](https://github.com/sendgrid/sendgrid-java/pull/449) is appreciated.

Hi @hpoul,

Thanks for trying to help out, we appreciate your support!

With Best Regards,

Elmer

[2018-08-15 15:33] kylearoberts commented on #454
Hey @AIMMOTH,

Unfortunately we cannot see the content of the email as we do not save it in our system, but the good news is that this issue should be fixed. Please test it out and see. If it is not fixed please create a support request and provide the ticket number here so I can work with the support team to get the issue addressed.

- Kyle

[2018-08-28 15:27] amaury986 commented on #439
Hi, I think I have the same problem described here.

I'm using the 4.2.1 sendgrid java library version (using maven pom).

I'm trying to send a mail with HTML body content added with
[...]
            Content content = new Content("text/html", myBody);
            mail.addContent(content);
[...]
            Request request = new Request();
            request.setMethod(Method.POST);
            re

[2018-08-29 17:44] thinkingserious commented on #439
Hello @amaury986,

I think your issue is different because you are not embedding an attached image. Could you please open a new issue? Thanks!

With Best Regards,

Elmer

[2018-08-30 06:16] Premasanthakumar opened #455 "dynamic content not added properly.Only some emails appears with dynamic content others appear null."
public static void emailSendingForTransactionOtp(String toUsername,String otp,String trnaxAmount,String balance,String trnaxType) {
		 System.out.println("Hello");
		 Email from = new Email("noreply@assccl.co.in");
	 String subject = "OTP for the transaction";
	 Email to = new Email(toUsername);
	 Content content = new Content("text/html","URI");
	 Mail mail = new Mail(from, subject, to, content);

[2018-08-30 07:30] amaury986 opened #456 "Every '=' character is replaced by '=3D' string"
#### Issue Summary

Hi, I'm trying to send a mail with HTML body content added with
[code]
and the body content (obtained logging the content.value Java string) is like:
[code]
-------------------------REQUEST END-------------------------
It's a simple html with an embedded base64 encoded image.

But when I send the mail, the received mail looks like this:
[code]
-------------------------RECEIVED

[2018-08-30 09:43] Premasanthakumar commented on #455
Thank You in Advance I have got an idea from here- https://github.com/sendgrid/sendgrid-java/issues/114

[2018-08-30 09:43] #455 closed

[2018-08-30 09:44] Premasanthakumar commented on #445
Thank you...!!!!The issue was with fasterxml.jar file present in the project.Have removed the jar file and the problem is solved..

[2018-08-30 09:44] #445 closed

[2018-09-01 16:42] mmgweiyang opened #457 "Is it possible to work with javax.mail.MimeMessage?"
I got a javax.mail.MimeMessage object and I want to forward it to another email account.
Is it possible? how to do it?

Thank you.

[2018-09-05 23:20] thinkingserious commented on #456
Hello @amaury986,

This looks like a HTML encoding/decoding issue. What email client are you using to view the email? Have you tried different clients?

With Best Regards,

Elmer

[2018-09-05 23:44] thinkingserious commented on #457
Hello @mmgweiyang,

How were you able to solve your issue?

With Best Regards,

Elmer

[2018-09-05 23:44] #457 closed

[2018-09-06 07:26] amaury986 commented on #456
I've tried with Gmail and it doesn't show the image, while with Apple Mail it goes.

Is there anything that I can do?

[2018-09-06 17:00] kylearoberts commented on #456
Hey @amaury986

Gmail does not support images in email the way you are encoding them. Is there a specific reason you are encoding your image into the email content instead of just linking to a hosted image?

[2018-09-07 07:16] amaury986 commented on #456
Hi @kylearoberts
thank you for your answer. I also have found this answer in other topics and I "migrated" to hosted images.

My choice to embed was to avoid any possible downtime of the hoster and to preserve a fully self contained package. I knew email messages would be bigger to be sent but it wasn't a problem for my async system.

Even if now it is clear that it's a Gmail client limitation (an

[2018-09-07 14:03] ShadTK opened #458 "Sending an email to Multiple Recipients fail if one recipient is invalid (Spring Boot Framework)"
#### Issue Summary

Sending an email to Multiple Recipients fail if one recipient is invalid.

After checking issue https://github.com/sendgrid/sendgrid-java/issues/137 and following the tutorial on https://github.com/sendgrid/sendgrid-java/blob/master/examples/helpers/mail/Example.java#L27 , I've built a method to get all emails registered under a specific profile for my system, and send an email

[2018-09-07 18:38] kylearoberts commented on #456
Hi @amaury986

If I am looking at the correct information:

This is normal. When sending through SendGrid we encoded the content in Quoted-Printable. This should not cause any issues and should not have any effect on your image rendering. I hope this answers your question.

[2018-09-10 07:05] #456 closed

[2018-09-15 01:54] thinkingserious commented on #458
Hello @ShadTK,

I was unable to reproduce the issue using this code:

[code]

Do you have any suggestions on how I can modify my code to reproduce your issue?

Thanks!

With Best Regards,

Elmer

[2018-09-19 14:18] prabinmohanty opened #460 "sendgrid maven dependency issue :error in opening zip file"
#### Issue Summary

i am trying to use sendgrid for email sending. but after adding dependency in pom file , i am getting below error message. and i am able to import the sendgrid classes my main app.
Description	Resource	Path	Location	Type
Archive for required library: 'C:/Users/719420/.m2/repository/com/sendgrid/sendgrid-java/4.2.1/sendgrid-java-4.2.1.jar' in project 'emailtest' cannot be read o

[2018-09-28 03:04] thinkingserious commented on #460
Hello @prabinmohanty,

Can you please describe how you installed this SDK?  Thanks!

With Best Regards,

Elmer

[2018-09-28 07:43] prabinmohanty commented on #460
Hi,

Now it's working fine . there was some maven repository firewall issue. Thanks for replying !

-Prabin

[2018-09-28 07:44] #460 closed

[2018-09-28 10:54] javagyanmantraTeam commented on #133
I am working with SendGrid2.2.2 in which i couldn't found Attachment class, kindly give another soluation,
please find my code and guide me

public void sendMail(String sendGridApi_dummy) {

		SendGrid sg = new SendGrid(sendGridApi_dummy);

		notifiactionDTO = getNotificationDTO();

		String bodyMessage = VelocityEngineUtils.mergeTemplateIntoString(velocityEngine, notifiactionDTO.getTemplateLocati

[2018-10-01 04:46] Bharat123rox opened #462 "Link to online version of CLA instead of a copy of the CLA"
#### Issue Summary

Link directly to the signable, online version of CLA instead of a copy of the CLA in README.md

[2018-10-01 04:50] Bharat123rox commented on #462
PR #463 fixes this issue

[2018-10-01 14:27] N140191 opened #464 "sendgrid-java"
#### Issue Summary

A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, code examples.

#### Steps to Reproduce

1. This is the first step
2. This is the second step
3. Further steps, etc.

Any other information you want to share that is relevant to the issue being reporte

[2018-10-01 14:27] N140191 commented on #464
Issue

[2018-10-01 15:50] #464 closed

[2018-10-01 21:46] michizhou commented on #447
@thinkingserious I would be willing to take on this issue. Just let me know what to do!

[2018-10-01 21:48] madhurgupta10 commented on #434
Hi, I would like to work on this issue

[2018-10-02 03:42] sccalabr commented on #448
Ill work on this. If the content is empty do you just want to insert an empty space?

[2018-10-02 04:57] thinkingserious opened #465 "Update integration tests to utilize StopLight.io's Prism version v2.X"
#### Issue Summary

We use a mock server for integration/contract testing that is driven by our OpenAPI specification and StopLight.io's Prism service. The service is spun up utilizing the prism.sh script in this repo.

Before writing any code, we suggest you review our `CONTRIBUTING.md` file and propose your solution for discussion here in the comments. Thank you!

#### Aceptance Criteria

* we a

[2018-10-02 05:01] thinkingserious opened #466 "Create helper methods for the /contactdb endpoint"
#### Issue Summary

Please see `USE_CASES.md` for current example of existing helper methods.

You may find simple example code for all of the `/contactdb` endpoint functionality in the `USAGE.md` file under `CONTACTDB` in the Table of Contents. Complete interactive documentation can be found [here](https://sendgrid.com/docs/API_Reference/api_v3.html).

Before writing any code, we suggest you revi

[2018-10-02 07:56] dmitraver commented on #465
hi, I can pick this one.

[2018-10-02 11:58] P3trur0 commented on #383
Is this still required? I'd like to take the issue.

[2018-10-02 12:09] P3trur0 commented on #335
Hi @thinkingserious is this still open? May I take this?

[2018-10-02 12:58] dmitraver commented on #465
@thinkingserious what version 2x are you referring to? it looks like the newest version of prism v0.6.21 is already in use.

[2018-10-02 20:42] thinkingserious commented on #133
Hello @javagyanmantraTeam,

This SDK is now on version 4.2.1. Can you upgrade?

With Best Regards,

Elmer

[2018-10-03 13:20] thinkingserious opened #469 "Implement auto-deploy to package manager"
#### Issue Summary

When all tests on the master branch pass in Travis CI, we would like to auto-deploy the release to the package manager.

Before writing any code, we suggest you review our `CONTRIBUTING.md` file and propose your solution for discussion here in the comments. Thank you!

#### Aceptance Criteria

* when Travis CI passes all tests on the master branch we auto-deploy to the package

[2018-10-03 18:53] thinkingserious commented on #447
Hi @michizhou,

My apologies, I had this issue mis-labeled, it is already under development [here](https://github.com/sendgrid/sendgrid-java/pull/449).

I do hope you will consider other contributions as part of our [Hacktoberfest celebration](https://sendgrid.com/blog/hacktoberfest-2018-has-arrived/).

Thanks!

With Best Regards,

Elmer

[2018-10-03 18:55] thinkingserious commented on #434
Thank you @madhurgupta10!

One other note, I think this should be setup to run within a Docker container.

[2018-10-03 21:11] thinkingserious commented on #383
This one is taken @P3trur0. Please check out issues that are labeled "status: help wanted" and [celebrate Hacktoberfest](https://sendgrid.com/blog/hacktoberfest-2018-has-arrived/) with us. Thanks!

[2018-10-03 21:12] thinkingserious commented on #335
Hello @P3trur0,

This one is still open, since we don't have a signed CLA from @derjayjay.

I'll leave it as status: work in progress so no one else will take it.

Thanks!

With Best Regards,

Elmer

[2018-10-03 21:17] thinkingserious commented on #465
Please see [here](https://github.com/stoplightio/prism/releases). Thanks @dmitraver!

[2018-10-04 07:04] Premasanthakumar opened #470 "pdf is returned null when attachment is being send"
Below code works fine for .txt file but when .pdf is null file is displayed.

public class RequestForStatements {
	private static final boolean IS_CHUNKED = true;

	public static void main(String args[]) throws Exception {

		System.out.println("Hello");
		Email from = new Email("prema17kumar@gmail.com");
		String subject = "Spark Savings Account Statement for";
		Email to = new Email("premas@thes

[2018-10-04 08:06] derjayjay commented on #335
Hi @thinkingserious,

just wanted to say that I did sign the CLA several times, but it never really seemed to work - maybe some bug?

Not a biggie, just wanted to let you know :)

[2018-10-04 09:16] P3trur0 commented on #335
@thinkingserious ok then, I leave this issue to @derjayjay because it seems he already fixed it :)

[2018-10-04 09:21] derjayjay commented on #335
Sorry, I didn't want to steal the issue from you :D

[2018-10-04 13:17] thinkingserious opened #472 "Require conformance to style standards"
#### Issue Summary

In the `CONTRIBUTING.md` file there is a section on Style Guidelines & Naming Conventions. Please review and implement a check in Travis CI. If there are any style errors, either fix or create a rule to exclude the error.

Before writing any code, we suggest you review our `CONTRIBUTING.md` file and propose your solution for discussion here in the comments. Thank you!

#### Ace

[2018-10-04 17:53] dmitraver commented on #469
I can pick this one as well, sounds interesting

[2018-10-04 19:16] dmitraver commented on #465
I updated prism to the newest version and there are only two failing tests

[code]

Looks like get and delete are in specification but prism can't parse them somehow. Do you have any ideas regarding this one? @thinkingserious

[2018-10-04 19:44] dmitraver commented on #465
Hmm, it looks like there are no suppression/spam_report endpoint in specification, only spam_report**s** but these two failed tests use **suppression/spam_report** endpoint.

[2018-10-05 00:43] nathan78906 opened #474 "Format of README in examples/accesssettings is broken"
#### Issue Summary

The readme page currently looks like:
<img width="908" alt="screen shot 2018-10-04 at 8 42 24 pm" src="https://user-images.githubusercontent.com/24365131/46510287-0e53aa80-c816-11e8-98ac-066276c4d128.png">

Needs to be cleaned up

[2018-10-05 04:17] #462 closed

[2018-10-05 14:17] thinkingserious opened #476 "Run our *.md documents in this repo through the Grammer.ly service and update"
#### Issue Summary

We would like to get our English polished up throughout the repo.

#### Aceptance Criteria

* Every .md file in this repo has been run through the Grammer.ly service and updated accordingly

[2018-10-05 23:23] marshallpierce opened #478 "Distribute fat jar via normal jar distribution, not by copying into the root of the repo"
As per https://github.com/sendgrid/sendgrid-java/pull/459#issuecomment-427522313.

Currently, the build system generates a fat jar and then plops it in the root of the repo, which is odd (manual steps take over at that point to publish that jar somewhere else). If generating a fat jar must be done, might as well have the same hosting for the normal jar and the fat jar. Users without build systems

[2018-10-06 02:52] thinkingserious commented on #470
Hi @Premasanthakumar,

Could you please send a sample PDF to dx@sendgrid.com with a link to this issue so that I may try and reproduce?

Thank you!

With Best Regards,

Elmer

[2018-10-06 02:59] thinkingserious commented on #335
Thanks for your kind words @P3trur0 ! I hope you will find some other way to celebrate [Hacktoberfest](https://dx.sendgrid.com/hacktoberfest) with us :)

Looks like your CLA is good to go @derjayjay, thanks!

[2018-10-06 02:59] #335 closed

[2018-10-06 05:18] girishbaviskar commented on #476
can i do this @thinkingserious

[2018-10-06 14:20] thinkingserious opened #481 "Update documenation for retrieving a list of all templates (dynamic & legacy)"
#### Issue Summary

Please update the `USAGE.md` and corresponding `\example` with the call to list all templates.

This is the API call required: GET https://api.sendgrid.com/v3/templates?generations=legacy,dynamic

#### Acceptance Criteria

* The Usage.md file demonstrates how to use this API call to retrieve all templates: GET https://api.sendgrid.com/v3/templates?generations=legacy,dynamic
* T

[2018-10-06 14:52] thinkingserious opened #482 "Throw an exception if a template ID does not exist in your request body"
#### Issue Summary

You will not receive an error from the API is you send an email with the wrong template. Instead you will get a "Not Delivered" notice in your email activity feed. We want to make that experience better by throwing an exception in the code instead.

This issue is inspired by [this](https://github.com/sendgrid/sendgrid-go/issues/255).

#### Acceptance Criteria

* Use [the API](h

[2018-10-06 15:02] madhurgupta10 commented on #434
@tappdarden got it!

[2018-10-06 17:14] arshadkazmi42 commented on #401
@thinkingserious is this open up for grab? I would like to work on this.

[2018-10-06 18:33] arshadkazmi42 opened #483 "Fix broken link in TROUBLESHOOTING.md"
#### Issue Summary

Following links are broken in [TROUBLESHOOTING.md](https://github.com/sendgrid/sendgrid-java/blob/master/TROUBLESHOOTING.md#testing-v3-mailsend-calls-directly)
- v3 send email example link is broken

[2018-10-06 18:33] arshadkazmi42 commented on #483
working on  it.

[2018-10-06 22:12] Austry commented on #173
Hi @thinkingserious
Is this issue actual?
There is no description for custom URL field for `subscription_tracking` object in [api documentation](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html). Is it supported?

[2018-10-07 15:49] aleien commented on #376
@thinkingserious
Seems like this one is resolved (:

[2018-10-07 16:12] thinkingserious opened #486 "Create a Dockerized event webhook consumer"
#### Issue Summary

SendGrid has an [Event Webhook](https://sendgrid.com/docs/API_Reference/Event_Webhook/event.html) which posts events related to your email activity to a URL of your choice. We want to have an easily deployable solution that allows for customers to easiy get up and running processing (parse and save) their event webhooks.

#### Acceptance Criteria

* A folder which contains a Do

[2018-10-07 16:18] thinkingserious opened #487 "Create a Dockerized email inbound parse webhook consumer"
#### Issue Summary

SendGrid has an [Email Inbound Parse Webhook](https://sendgrid.com/docs/API_Reference/Parse_Webhook/inbound_email.html) which posts data from a specified incoming email address to a URL of your choice. We want to have an easily deployable solution that allows for customers to easiy get up and running processing (parse and complete some action) their inbound parse webhooks.

###

[2018-10-07 17:11] aleien commented on #424
Hello @gyuuu!
I tried to reproduce this bug in cURL and sendgrid-java (4.1.2)

I received all emails i sent, with the only exception of email from test@example.com was marked as spam, but when I tried from existing email address, all worked correctly.

I used this json for testing, and it seems to work (and it's alternative in java too):
`{"personalizations": [{"to": [{"email": "test@example.com"}

[2018-10-07 19:09] aleien commented on #421
Hello, @mkporwit!
I tried to reproduce this bug and it seems that this problem occurs on SendGrid backend. I tried using this json in curl, and it also fails:
`{"personalizations": [{"to": [{"email": "testTo@example.com", "name": "second;;"}]}],"from": {"email": "testFrom@example.com", "name":"test"}, "subject": "Sending with SendGrid is Fun","content": [{"type": "text/plain", "value": "and easy t

[2018-10-08 20:29] thinkingserious opened #489 "Document the difference of using three brackets vs two brackets with a template and throw or log an error when used improperly"
#### Issue Summary

Our templates use the handlebars.js syntax as documented [here](https://sendgrid.com/docs/ui/sending-email/using-handlebars/). When including the characters ', " or & in a subject line replacement you need to use three brackets vs two ( {{{ content }}} vs {{ content }} ).

#### Acceptance Criteria

* Documentation of this functionality in the use cases section (transactional te

[2018-10-08 20:46] thinkingserious opened #490 "Create first time contributor documentation"
#### Issue Summary

Our open sourced documentation has a great [first time contributor page](https://github.com/sendgrid/docs/blob/develop/first-timers.md) that we wish to duplicate here.

#### Acceptance Criteria

* We have a file in the root directory called first-timers.md or similar that helps a first time contributor make their first PR (please use our CONTRIBUTOR.md file for inspiration as w

[2018-10-09 00:44] thinkingserious commented on #469
Thank you @dmitraver, it's all yours! :)

[2018-10-09 10:40] PritamSangani commented on #490
I can do this. Am I right in thinking the link to the issues with the labels "difficulty: easy" and "status: help wanted" is to the open issues just for sendgrid-java repo?

[2018-10-10 00:58] thinkingserious opened #492 "Auto-generate the CHANGELOG.md file upon release"
#### Issue Summary

For every release, we currently hand craft a CHANGELOG.md update, now we would like to automate this process. Please see the existing CHANGELOG.md for formatting structure.

#### Acceptance Criteria

* A script, which when run, creates a CHANGELOG.md update based on any merged PRs since the last release.

[2018-10-10 04:40] Rohit-T commented on #404
Hi, I would like to work on this issue.
What I am planning to do is to add two functions to SendGrid class. One is to add the header for a subuser and the other is to remove the header if the user wants to use the same SengGrid object to send multiple emails but with other subusers or the original user.
Does this look good?

[2018-10-11 04:11] kartikohri1712 commented on #425
I would like to work on it. Can you clarify whats needs to be done with Test and examples.

[2018-10-11 07:39] tanhengyeow commented on #492
@thinkingserious Seems like this issue is common among other repositories. I'm thinking of creating something general so that all repos can use it. Can I be assigned this?

[2018-10-11 10:05] Premasanthakumar commented on #470
The PDF has to be converted to base64 with another method.I had done it right.
Thank you.

[2018-10-11 10:13] Premasanthakumar commented on #442
I can take up this issue.

[2018-10-11 10:19] Premasanthakumar commented on #442
Hi @chostrander ,
   Mail already has a personalisation within so you can avoid creating a seperate personalisation.When you create a different personalization object the system get confused on which data to take up.

`Email from = new Email("...");
        String subject = "Sending with SendGrid is Fun";
        Email to = new Email("...");
        Content content = new Content("text/html","text"

[2018-10-11 10:43] Premasanthakumar commented on #266
Hi would love to try this out with my knowledge.

[2018-10-11 10:49] Premasanthakumar commented on #266
For attaching the file fetch the file location from S3 bucket.

		Email from = new Email("from@abc.com");
		String subject = "Attach files from S3";
		Email to = new Email("to@abc.com");
		Content content = new Content("text/html", "URI");
		Mail mail = new Mail(from, subject, to, content);
                  File originalFile = new File("file location from s3");
        String encodedBase64 = null

[2018-10-11 15:04] kmvjavadev opened #494 "Ex"
#### Issue Summary

I am getting below exception while sending email
20:30:28,126 WARN  [org.jboss.modules] (default task-5) Failed to define class com.sendgrid.SendGridResponseHandler in Module "deployment.dating.war" from Service Module Loader: java.lang.NoClassDefFoundError: Failed to link com/sendgrid/SendGridResponseHandler (Module "deployment.dating.war" from Service Module Loader): org/apac

[2018-10-11 17:30] thiyagu06 commented on #486
@thinkingserious ,  Correct my understanding

1. Create rest api service which will consume the webhook events
2. Parse the data and store the data of our choice in db

[2018-10-11 21:05] thinkingserious commented on #472
That sounds good, thank you @rosariopfernandes!

[2018-10-11 21:07] #474 closed

[2018-10-11 21:45] rosariopfernandes commented on #472
I can send a PR. Should be done in 24 hours.

[2018-10-11 23:04] #447 closed

[2018-10-12 00:48] Rohit-T commented on #173
Hi @thinkingserious
The parameter names for subscription_tracking are different for mail/send and tracking_settings/subscription endpoints.
For example, tracking_settings/subscription accepts below parameters:
enabled, plain_content, html_content, url, landing, replace
whereas mail/send accepts below parameters:
enable, text, html, substitution_tag

I want to work on this issue but I am confused r

[2018-10-13 03:54] thinkingserious opened #498 "Document new Git workflow in CHANGELOG.md"
#### Issue Summary

We want to update our git workflow to function more like [Gitflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow). We need to update the CONTRIBUTING.md file and PULL_REQUEST_TEMPLATE to direct contributors to fork/branch off the `development` branch and to merge their PRs with the `development` branch. Once this issue is complete, we will be crea

[2018-10-13 23:56] Rohit-T commented on #270
Hi @thinkingserious
I have created a helper class for Campaign that has all the fields, getters, and setters. Now, I am working on the second part which is to add functionality.
Can you give me an example of how the users are gonna use this functionality?
I am just trying to understand the interface of the build, schedule, send, and notify functions.

[2018-10-14 02:08] sccalabr commented on #489
@thinkingserious  are there any tests that use templates?

[2018-10-15 17:28] thinkingserious commented on #492
It's all yours @tanhengyeow! Thanks!

[2018-10-15 17:30] thinkingserious commented on #173
Hello @Rohit-T,

I think the task is to create a helper function around the [tracking_settings/subscription endpoint](https://github.com/sendgrid/sendgrid-java/blob/master/USAGE.md#update-subscription-tracking-settings).

I hope that helps!

Thanks!

[2018-10-15 19:45] cunhazera commented on #482
@thinkingserious can I work on that?

[2018-10-16 07:43] manisha-A commented on #498
Is this still available?

[2018-10-17 06:55] tanhengyeow commented on #492
The plan is as follows:
1. Create a GitHub bot with a webhook upon new releases.
2. Extract the content of the latest release.
3. Update/Create CHANGELOG.md with the new content.

This would allow all other repos to have a seamless experience. If this sounds good I can start working on the app and publish it for usage :)

Do let me know, thanks!

[2018-10-17 06:55] tanhengyeow commented on #492
@thinkingserious

The plan is as follows:
1. Create a GitHub bot with a webhook upon new releases.
2. Extract the content of the latest release.
3. Update/Create CHANGELOG.md with the new content.

This would allow all other repos to have a seamless experience. If this sounds good I can start working on the app and publish it for usage :)

Do let me know, thanks!

[2018-10-17 07:07] dmitraver commented on #469
@thinkingserious, what package manager do you mean here? Deploying artifact
to nexus?  Could you please elaborate more on that?

On Tue, 9 Oct 2018 at 02:44, Elmer Thomas <notifications@github.com> wrote:

--
Best wishes,
Dmitry Avershin.

[2018-10-19 06:58] thinkingserious opened #508 "Auto-generate the release notes upon release"
#### Issue Summary

For every release, we hand craft the release notes on GitHub, now we would like to automate this process. Please see the existing [release notes](https://github.com/sendgrid/sendgrid-java/releases) for an example. The contents of the release notes are generated from the CHANGELOG.md file. [Here](https://developer.github.com/v3/repos/releases/#create-a-release) is the documentat

[2018-10-19 14:01] kapishmalik commented on #508
I want to automate this process. I am taking this up.

[2018-10-20 05:39] Nayan-Das commented on #487
I want to work on this.Can I take this.

[2018-10-20 10:50] aleien commented on #482
@thinkingserious
Hello (:

Since it's needed to write test to give an example, one have to edit https://raw.githubusercontent.com/sendgrid/sendgrid-oai/master/oai_stoplight.json and add 404 response to GET /tempates/{template_id}

Should i make pr to https://github.com/sendgrid/sendgrid-oai/issues first?

[2018-10-20 23:43] thinkingserious opened #509 "Error Exception Handling"
#### Issue Summary

To improve the developer experience, we would like to pass back a [summary of the error received](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html) and a link to the appropriate place [in the documentation](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html) to help with troubleshooting.

#### Acceptance Criteria

* When an error is thrown du

[2018-10-20 23:50] thinkingserious opened #510 "Type Exception Handling for the Mail Helper"
#### Issue Summary

The appropriate types necessary for a successful `mail/send` API call is documented [here](https://sendgrid.com/docs/API_Reference/api_v3.html). We want to throw a type exception when the wrong type is provided.

#### Acceptance Criteria

* All parameters for the `mail\send` endpoint are type checked and if they fail the type check and exception is thrown with instructions on h

[2018-10-21 06:38] jinhubs commented on #509
Hello, would like to tackle this one

[2018-10-21 18:28] aleien commented on #510
Hello!
I started to work on this one (:

Is it ok, if I also write some tests for new type checker?

[2018-10-22 03:19] I-am-Miguel commented on #285
Hello, would like to tackle this one

[2018-10-24 14:55] gmowhiz opened #511 "Master branch is missing classes"
#### Issue Summary

The master branch appears to be missing files.

#### Steps to Reproduce

1. Open the fat jar provided in the releases directory (https://github.com/sendgrid/sendgrid-java/releases/download/v4.3.0/sendgrid-java.jar)
2. Take a look at the classes under com/sendgrid/
3. Look for the corresponding files in the github source repo Master branch.

#### Technical details:

* sendgrid-j

[2018-10-24 15:03] gmowhiz opened #512 "Maven central repo jar file is missing classes"
#### Issue Summary

The sendgrid-java jar file uploaded to the maven central repository is missing classes.

#### Steps to Reproduce

1. Download the 4.3.0 release of sendgrid-java from maven central (http://central.maven.org/maven2/com/sendgrid/sendgrid-java/4.3.0/sendgrid-java-4.3.0.jar)
2. Attempt to build/run the Quick Start - Hello Email example from the project README.
3. See that it won't c

[2018-10-26 14:39] kylearoberts commented on #421
@mkporwit @aleien @thinkingserious

The best way to get around this issue is to put your content in quotes:

[code]

This method will work for commas as well.

[2018-10-26 15:01] #420 closed

[2018-10-26 18:19] aroach commented on #270
@Rohit-T Sorry for the delay in getting back to you.  Here is a story as I can imagine it.  As a developer, I'm building a campaign for Valentine's day.  The campaign was perhaps requested by a marketer.  I'd like to create the campaign via the API that won't send until February 14th.  So, I might want to do a few things:

Build Campaign: I need to start laying the ground work to tell my customer

[2018-10-29 15:38] CNunezEng commented on #435
Is this issue still open? I would like to help out.

[2018-10-29 19:05] #498 closed

[2018-10-29 19:10] Rishabh04-02 opened #520 "Updating the prerequisites"
#### Issue Summary

On the website its mentioned that **Send up to 40,000 emails for 30 days, then send 100 emails/day free forever but it has not been mentioned in the README.**

[2018-10-30 10:05] P3trur0 commented on #508
Hi @thinkingserious I'd like to work on this.

[2018-10-30 18:33] thinkingserious opened #523 "Add our Developer Experience Engineer career opportunity to the README"
#### Issue Summary

The role of Developer Experience Engineer just became available and we want to announce it in the README. Here is the copy:

If you're a software engineer who is passionate about #DeveloperExperience and/or #OpenSource, [this is an incredible opportunity to join our #DX team](https://sendgrid.com/careers/role/1421152/?gh_jid=1421152) as a Developer Experience Engineer and work

[2018-10-30 19:12] antercepter commented on #523
I'll take this

[2018-10-30 19:54] mptap commented on #523
@thinkingserious Have raised PR for this: https://github.com/sendgrid/sendgrid-java/pull/528

[2018-10-31 09:47] SailleshPawar opened #535 "Email is sent twice sometimes when the dynamic data object is huge"
#### Issue Summary

I am using dynamic template to show the list of object in a table format in order to implement this i am using TemplateData to pass my object. Our users are receiving duplicate emails when there are more than 40000 objects in a dictionary collection.

#### Steps to Reproduce

1. Create a dynamic  transactional template on send grid with
        like this
           <table>

[2018-10-31 09:48] #535 closed

[2018-10-31 11:53] P3trur0 commented on #508
PR #522 solves this.

[2018-10-31 19:51] crweiner opened #543 "Remove legacy "Whitelabel" Terms"
#### Issue Summary

According to the [Docs](https://github.com/sendgrid/docs/blob/develop/content/docs/glossary/whitelabel.md), SendGrid wishes to move away from the term "Whitelabel" and replace it with other terms, such as "domain authentication", "link branding" and "reverse DNS".

#### Details:
 In order to keep this verbiage consistent, this repo needs to update its terms and replace "Whitela

[2018-11-05 10:36] vanta opened #545 "Cannot send email with specific content"
#### Issue Summary

Emails containing specific content cannot be send using SG, due to content validation.

I cannot find any documentation of this "feature".

Please narrow validation and document it or remove it at all.

#### Steps to Reproduce

1. Try to send email with following content: `SG..`

Result:
`IllegalArgumentException: Found a Forbidden Pattern in the content of the email`

#### Tec

[2018-11-07 11:54] AIMMOTH commented on #454
Thank you it seems to work now!

[2018-11-07 11:54] #454 closed

[2018-11-09 10:05] bananatron commented on #217
I agree with @Gesias - the main appeal of Sendgrid's transactional templates for us is that you can store the template copy within their web UI.

The fact that you can't specify a template version on the send endpoint seems like an oversight (and would solve this).

Right now it seems the solutions are:
- Duplicates template 'groups' for each language.
- Have all language copy within the same temp

[2018-11-13 22:41] thinkingserious commented on #492
Hello @tanhengyeow,

Are you still working on this? If so, I think what you propose is an interesting approach.

[2018-11-14 10:04] sagargit2 opened #546 "Email sent goes to spam"
I am using `com.sendgrid" % sendgrid-java % 4.3.0` to send email in my application.
The email is sent but gmail receives it as spam.

[2018-11-18 15:20] thinkingserious commented on #478
Thanks for writing this up @marshallpierce!

[2018-11-18 15:50] thinkingserious commented on #546
Hello @sagargit2,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-11-18 15:50] #546 closed

[2018-11-23 10:06] jmayday commented on #134
When I look at AttachmentBuilder, I see that it calls toByteArray at some point.

[code]

Does then the solution scale? Are there better options for sending attachemnts? If there are 10 request at sime time, each sending 10mb attachment file, then 100mb of RAM will be used?

[2018-11-29 20:45] sydneyhenrard opened #548 "Sendgrid not compatible with OpenJDK"
#### Issue Summary

I switched from Oracle JDK 9 to Open JDK 9, and I get an exception due to a missing certificate. I guess the particular certificate is bundled with Oracle JDK but not with Open JDK. I tried with Open JDK 9 and 10.

#### Steps to Reproduce

Sample code I use to send the email:
[code]

The exception is

[code]

#### Technical details:

* sendgrid-java Version: 4.3.0
* Java Versio

[2018-11-29 23:40] thinkingserious commented on #548
Hello @sydneyhenrard,

We test against [OpenJDK 8 and OracleJDK 8](https://github.com/sendgrid/sendgrid-java/blob/master/.travis.yml#L3) currently.

However, it appears that your issue is related to the server's certificate. There appear to be some solutions [here](https://stackoverflow.com/questions/2893819/accept-servers-self-signed-ssl-certificate-in-java-client). Could you please take a look a

[2018-12-02 08:09] sydneyhenrard commented on #548
@thinkingserious thanks for the stackoverflow link

I fixed it with the following steps
- download the certificate with the browser
- add the certificate to JVM default truststore

I just wonder why it was working without the certificate with Oracle JDK.

[2018-12-02 08:09] #548 closed

[2018-12-07 18:41] parima08 opened #549 "Error - Substitutions may not be used with dynamic templating"
#### Issue Summary

I'm trying to send an templated email with substitutions using sendgrid-java. However, every time I try to do so, I get back the following error:

`{"errors":[{"message":"Substitutions may not be used with dynamic templating","field":"personalizations.0.substitutions","help":"http://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html#message.personalizations.substitutio

[2018-12-13 12:04] jalp commented on #545
Hi, we are having the same problem. We are using several templates containing `SG.` text and this verify method is rejecting all the mails using these templates.

Do you have any estimation time to solve it?

Many thanks in advance!

[2018-12-14 20:33] ayang99 opened #550 "Personalization Validation"
#### Issue Summary

I'm experimenting with the sendgrid-java library to send e-mails, and I'm encountering behaviour that seems to be contrary to what the docs/examples are telling me to do. Just want to know if I'm on the right track, or if there's actually a problem.

#### Steps to Reproduce

Here's how I'm constructing the Mail instance:
[code]

Trying to send the e-mail:
[code]

However, invok

[2018-12-14 22:15] ayang99 commented on #550
This works btw
[code]

[2018-12-17 06:25] carduque opened #551 "Dynamic template data being escaped"
#### Issue Summary

I have a template created and I'm substituting variables  with personalization.addDynamicTemplateData
The issues is that I'd like to substitute with some HTML code, and seems that text is being escaped. Is there any way to substitute without being scaped?

#### Steps to Reproduce

[code]

Any other information you want to share that is relevant to the issue being reported. Espe

[2018-12-18 16:36] vanta commented on #177
Any update here? I don't know why semicolon is not allowed in content type, I need it to set it to value: `text/calendar; charset="UTF-8"; method=REQUEST` and what should I do to achieve it?

[2018-12-18 16:42] vanta opened #552 "Cannot set Content's type to value with semicolon"
#### Issue Summary

I need to add a `Content` to `Mail` I create with specific type: `text/calendar; charset="UTF-8"; method=REQUEST`. It is OK according to RFC, but SendGrid returns error:
[code]

#### Steps to Reproduce

1. Create content with type as above
2. Add it to Mail
3. Try to send such email

#### Technical details:

* sendgrid-java Version: 4.2.1
* Java Version: 8.x

[2018-12-21 18:46] thinkingserious commented on #550
Hello @ayang99,

This is the key line `mail.getPersonalization().get(0).addBcc(bcc);`. What happens when you do `mail.addPersonalization(personalization);` in your first example is that a new personalization is created at index 1, which only has that `bcc` attribute, causing that error. When you use the `Mail` constructor a new `Personalization` object is created at index 0. [Here](https://github.

[2018-12-21 18:49] thinkingserious commented on #551
Hello @carduque,

Please check out [this comment](https://github.com/sendgrid/sendgrid-csharp/issues/738#issuecomment-420005291) for details on how to include un-escaped HTML.

Thank you!

With Best Regards,

Elmer

[2018-12-21 18:52] thinkingserious commented on #552
Hello @vanta,

Please try without including `charset="UTF-8";`. We will automatically add that to the type for you behind the scenes.

Thank you!

With Best Regards,

Elmer

[2018-12-21 20:34] yingdi1 opened #553 "Sending multiple Peronalizations not working with dynamic template data."
#### Issue Summary

I have 2 peronalizations , it is like 45% of time it is sending to 1st peronalization , 45% it is sending to 2rd one , and 10% sending to both ..... It should send to both all the time.

#### Steps to Reproduce

    public static void main(String[] args) throws IOException {

        Email from = new Email("from@abc.com");
        Email to = new Email("to1@abc.com");
        Em

[2018-12-21 21:33] vanta commented on #552
My issue is not about charset but about "method" param...

[2019-01-02 16:53] ayang99 commented on #550
Hi Elmer,

I understand what the implementation is doing - I'm just pointing out that it is confusing because the validation rule is forcing the "to" field to be present in every single Personalization instance which I found surprising given the documentation and constructor design.

I would expect that after calling a constructor, it's reasonable to have a minimal but complete/"ready-to-go" insta

[2019-01-03 19:35] thinkingserious commented on #553
Hello @yingdi1,

I suggest that you log your inputs and the [request body](https://github.com/sendgrid/sendgrid-java/blob/master/TROUBLESHOOTING.md#viewing-the-request-body) (output of `mail.build()`) to help determine the bug.

Please share your results here, thanks!

With Best Regards,

Elmer

[2019-01-04 23:00] thinkingserious commented on #552
Hi @vanta,

What happens when you try `text/calendar; method=REQUEST`?

[2019-01-14 16:10] alonsoir opened #554 "Caused by: java.lang.ClassNotFoundException: com.sendgrid.Email"
#### Issue Summary

Hi, i'm trying to build a test app around this api, but I find problems running it from the command line with the command java -cp.
Inside eclipse, it works well, with the dependency set on pom.xml, well, it seems to work well because your server gives me back a 202, but at the moment I still have not received the test mail.

`$ java -cp target/MyStreamjava8-1.0.1-RELEASE.jar c

[2019-01-17 20:50] thinkingserious commented on #554
Hello @alonsoir,

I believe you need to do something like:

`java -cp ../<path to>/sendgrid-4.3.0.jar:. Example.java && java -classpath ../<path to>/sendgrid-4.3.jar:. target/MyStreamjava8-1.0.1-RELEASE.jar com.aironman.SendEmail`

With Best Regards,

Elmer

[2019-01-18 15:15] alonsoir commented on #554
Hi Elmer, thank you for responding. It is not working. I downloaded jar file and copied to my target folder, then i adapted your command and...

`$ java -cp target/sendgrid-java.jar:. Example.java && java -classpath target/sendgrid-java.jar:. target/MyStreamjava8-1.0.1-RELEASE.jar com.aironman.SendEmail final_output_winners.txt final_output_star.txt alonsoir@gmail.com
Error: no se ha encontrado o

[2019-01-22 07:55] hhs9102 opened #555 "Can I attach files as inputstream when sending mail?"
#### Issue Summary

Attempt to attach file when sending mail.

1.
Can I transfer files to an inputstream?

2.
Is it possible to attach files only by absolute path?

* Java Version: 1.8

[2019-01-23 04:49] thinkingserious commented on #555
Hello @hhs9102,

To attach a file, we require that the content be base64 encoded [like so](https://github.com/sendgrid/sendgrid-java/blob/master/examples/helpers/mail/Example.java#L113). The means in which you obtain the data and encode it is up to you. That said, we do have some [helper functions](https://github.com/sendgrid/sendgrid-java/blob/master/src/main/java/com/sendgrid/helpers/mail/object

[2019-01-24 21:51] thinkingserious commented on #470
Thanks for the follow up @Premasanthakumar!

[2019-01-24 21:51] #470 closed

[2019-01-24 21:53] thinkingserious commented on #550
Thanks @ayang99!

If you have a moment, I would love your opinion on our [proposed redesign](https://github.com/sendgrid/sendgrid-java/blob/master/proposals/mail-helper-refactor.md).

With Best Regards,

Elmer

[2019-01-24 21:53] #550 closed

[2019-01-24 21:55] thinkingserious commented on #552
Hello @vanta,

I'm probably mis-understanding the issue. Could you please provide a sample of what your [request body looks like](https://github.com/sendgrid/sendgrid-java/blob/master/TROUBLESHOOTING.md#viewing-the-request-body)?

It may also be useful if you can provide a snippet of the code that is a cause of the error.

With Best Regards,

Elmer

[2019-01-24 21:57] thinkingserious commented on #554
Hello @alonsoir,

My apologies, I think you will need to replace Example.java with your own code. So something like this:

`java -cp ../<path to>/sendgrid-4.3.0.jar:. com.aironman.SendEmail && java -classpath ../<path to>/sendgrid-4.3.jar:. target/MyStreamjava8-1.0.1-RELEASE.jar com.aironman.SendEmail`

With Best Regards,

Elmer

[2019-01-25 11:56] alonsoir commented on #554
Hi again Elmer, sorry, same error:

`~/MyStreamJava8Test> java -cp target/sendgrid-java.jar:. com.aironman.SendEmail && java -classpath target/sendgrid-java.jar:. target/MyStreamjava8-1.0.1-RELEASE.jar com.aironman.SendEmail final_output_winners.txt final_output_star.txt alonsoir@gmail.com
Error: no se ha encontrado o cargado la clase principal com.aironman.SendEmail
Causado por: java.lang.ClassNo

[2019-01-25 23:02] vanta commented on #552
@thinkingserious here's the code snippet:
[code]

[2019-01-28 07:56] loizosl opened #556 "Sendgrid GAE"
I have an issue with Sendgrid API in JAVA in my project.

When executing the following:
SendGrid sg = new SendGrid(API_KEY);
     Request request = new Request();
     request.setMethod(Method.POST);
     mail.addCustomArg("philoBatch", batch.getId());
     mail.addCustomArg("jobId", batch.getJobId());
     request.setEndpoint("mail/send");
     request.setBody(mail.build());
     Response respons

[2019-01-28 12:41] loizosl commented on #556
The billing in GAE project must be enabled

[2019-01-28 19:40] thinkingserious commented on #552
Ah, thanks!

I think what you need to do is add it using the `Attachments` object, [like so](https://github.com/sendgrid/sendgrid-java/blob/master/examples/helpers/mail/Example.java#L120). The type would be `"text/calendar; method=REQUEST"`.

I hope that helps!

[2019-01-28 19:43] thinkingserious commented on #554
Could you see if [this example](https://github.com/sendgrid/sendgrid-java/blob/master/CONTRIBUTING.md#environment-variables) works for you? Thanks!

[2019-01-30 15:44] alonsoir commented on #554
I will check as soon as i can. Thanks Elmer.

[2019-02-04 13:43] sunilkale24 commented on #417
Email from = new Email("********@******.com");
		    //String subject = "Sending with SendGrid is Fun";
		    String e=recipientsAddress.get(0);
		    Email to = new Email(e);
		    Content content = new Content("text/plain", notificationMessage);
		    Mail mail = new Mail(from, notificationSubject, to, content);

		    SendGrid sg = new SendGrid(System.getenv("xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx")

[2019-02-04 18:55] #554 closed

[2019-02-06 14:12] thinkingserious commented on #552
Hello @vanta,

I believe you should be able to send the attachment in the body using the `Attachments` object by setting the `contentID` and referencing that `contentID` in your HTML body.

I believe the restriction on the `;` character is related to security issues.

With Best Regards,

Elmer

[2019-02-16 15:39] sarweshs opened #558 "Jar version 4.3.0 is not working for attachments"
#### Issue Summary

The package in 4.3.0 jar received from Maven does not contain any class file.
com.sendgrid.helpers.mail.objects package is empty.

#### Steps to Reproduce

1. Create a maven based java project and add 4.3.0 as dependency
[code]
2. Write a java class something like
[code]
3. Try to compile and you will get compilation error
[code]

#### Technical details:
The reason is the Jar d

[2019-02-21 13:06] carl-unityworks opened #559 "Premature end of Content-Length delimited message body"
#### Issue Summary

Sending email sometimes breaks with the following stacktrace:

Sometimes it does not contain dynamic data.
Sometimes the email is sent twice, 1 with data and 1 without.
We use code similar to this:

[code]

#### Steps to Reproduce

Not sure. Sometimes it fails and sometimes it is successful. We had this problem this morning but later afternoon it was possible to send the same e

[2019-02-24 11:43] dvcrn commented on #177
Also very curious about an update on this

[2019-02-24 17:18] thinkingserious commented on #559
Hello @carl-unityworks,

This seems to be a logic error to me at first glance. My suggestion would be to implement logging at each step and examine the variable values. I suspect in some cases the function may be triggered twice and on the first or second occasion, the dynamic variables are not set.

Could you please give that a try and let me know what you find?

With Best Regards,

Elmer

[2019-02-24 17:42] thinkingserious commented on #558
Thank you for reporting this @sarweshs,

While we investigate, does the [.jar located here](https://github.com/sendgrid/sendgrid-java/releases) work for you?

With Best Regards,

Elmer

[2019-02-24 20:52] vanta commented on #552
Any example where I can see how to do what you described?

[2019-02-24 20:53] vanta commented on #545
@thinkingserious Do you need a PR for it?

[2019-02-25 01:05] sarweshs commented on #558
When I opened the jar, it has the attachment and other classes but the
package mentioned in the source code and the jar are not in sync. I was
looking into the master branch looks like refactoring is going on.

I was able to make it work by changing the package names in my code.
Thanks,
Sarwesh

On Sun, Feb 24, 2019, 11:13 PM Elmer Thomas <notifications@github.com wrote:

[2019-02-26 22:18] thinkingserious commented on #552
Hello @vanta,

Please try something like:

[code]

[2019-02-26 22:50] vanta commented on #552
@thinkingserious
I need to have iCal content in plain (not base64-encoded) with specific content type (with semicolon, as described). You mentioned about referencing `contentID` and I asked about example of it.

Please don't try to dissuade me from this.

[2019-02-27 08:33] carl-unityworks commented on #559
Using new version 4.3.0, we got the same error this morning

Our code

[code]

[2019-02-27 08:38] carl-unityworks commented on #559
One thing, it takes several seconds before the error is thrown:

1. Send log: 2019-02-27 08:00:01.384 CET
se.unityworks.util.SendGridEmail send: Sending email template d-7f780293fe384eac8e88466ca25859eb
2. Error log: 2019-02-27 08:00:03.653 CET
se.unityworks.jaxrs.UwExceptionMapper toResponse: Premature end of Content-Length delimited message body (expected: 74; received: 0

[2019-02-28 14:46] thinkingserious commented on #559
Hello @carl-unityworks,

With the code above, is the error every time?

[2019-02-28 14:48] thinkingserious commented on #552
@vanta,

Can you please email me a sample of the content you are trying to attach to dx@sendgrid.com? I will try to reproduce.

[2019-02-28 15:47] carl-unityworks commented on #559
No. We'll investigate to see if there's a difference in our calls.

[2019-02-28 17:18] thinkingserious commented on #559
OK, thanks @carl-unityworks.

[2019-03-05 15:24] kksd opened #560 "Missing x-message-id"
#### Issue Summary

x-message-id does not always present in the response header

#### Technical details:

* sendgrid-java Version:  com.sendgrid:sendgrid-java:4.0.1
* Java Version: 1.8

[2019-03-05 19:22] thinkingserious commented on #560
Hello @kksd,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2019-03-05 19:22] #560 closed

[2019-03-19 15:18] antoinechopin commented on #177
The same here.

[2019-03-29 09:52] teruz opened #561 "Junit failed due to LicenseTest"
#### Issue Summary

$ mvn install
.....
Running com.sendgrid.LicenseTest
Tests run: 1, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 0.003 sec <<< FAILURE!
testLicenseShouldHaveCorrectYear(com.sendgrid.LicenseTest)  Time elapsed: 0.001 sec  <<< FAILURE!
org.junit.ComparisonFailure: License has incorrect year expected:<...pyright (c) 2013-201[8] SendGrid, Inc.> but was:<...pyright (c) 2013-201[

[2019-03-29 17:29] thinkingserious commented on #561
Hello @teruz,

Thanks for bringing this to our attention! I've added this to our backlog.

With Best Regards,

Elmer

[2019-03-30 04:55] grv19 commented on #561
@thinkingserious Can I take this one?

[2019-04-17 22:16] aramdan01 opened #564 "using sendgrid v 4.3.0 requires downloading v 4.1.2 and this causes runtime problems"
Issue Summary
I have a template created and I send data to this template using
    personalization.addDynamicTemplateData
this line of  personalization.addDynamicTemplateData doesn't cause any compilation error but at runtime -> NoSuchMethod exception thrown after Investigation I found that putting maven dependency for  sendgrid-java v 4.3.0 downloading sendgrid jar file for version 4.3.0( in whic

[2019-04-18 17:21] thinkingserious commented on #564
Hello @aramdan01,

How did you [install the library]( https://github.com/sendgrid/sendgrid-java#via-maven-w-gradle) initially?

It might be useful to uninstall all references to SendGrid, and then install the latest version.

With Best Regards,

Elmer

[2019-04-26 13:33] RaHery opened #565 "Wrong scope for mockito-core dependency"
#### Issue Summary

Maven artifacts from maven central for sendgrid-java 4.3.0 includes `org.mockito:mockito-core:jar:1.10.19` in `compile` scope.

#### Steps to Reproduce

1. Create a simple maven project and include the sendgrid-java version 4.3.0.
2. Download and check the dependency:  `mvn dependency:tree`.

[code]

We can see that the mockito-core transitive dependency has the scope compile.

[2019-04-26 17:47] thinkingserious opened #566 "Support Java 11"
#### Issue Summary

This is a placeholder issue to start gaining some feedback on how important this issue is and determine what must be done.

[2019-04-29 13:35] thummalapalli commented on #566
Lots of clients I am sure on a recurring open JDK upgrade path that aligns with Oracle's JDK releases timelines.. if this doesn't have a roadmap that supports open JDK11 now and 12 when it's out, we really can't use this.

[2019-04-29 14:38] davidbernick opened #567 "Upgrade Jackson dependency to latest due to CVE"
#### Issue Summary

This was picked up by SourceClear and Snyk as a downstream dependendency vulnerability. I'm not sure where jackson is used in your code, but it appears to be a "high" vulnerability.

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-14720

Maybe upgrade to 2.9.8?

[2019-04-30 12:08] carl-unityworks commented on #559
It seems to be 2 problems:

1. DynamicTemplatePersonlization needs an receiving email. It's added to the main Mail object which also have an receiving email. It seems that 2 emails are sent by this, one with dynamic data and one without.
2. When sending email with DynamicTemplatePersonalization it sends 2 emails. And probably our Exchange server filters one as spam (or both) which could explain wh

[2019-04-30 16:21] thinkingserious commented on #565
Hello @RaHery,

Thanks for reporting this! I've added this to our backlog for a fix and opened it up to the community for a PR.

With Best Regards,

Elmer

[2019-04-30 16:26] thinkingserious commented on #567
Thanks for taking the time to report this @davidbernick!

This is now on our backlog and opened up to the community for contribution.

[2019-04-30 17:17] thinkingserious commented on #559
Ah, good catch! Check out [this example](https://github.com/sendgrid/sendgrid-java/blob/master/USE_CASES.md#with-mail-helper-class). In that case, we are not passing any values to the `Mail` constructor.

[2019-04-30 19:19] pranay2105 commented on #425
Hi, I am developing a jsf+spring application. I tried to implement the "**/messages**" endpoint in Java as I did for "**/stats**". I have written following code.
I am initializing the send grid object in my application context
`<bean id="sendGrid" class="com.sendgrid.SendGrid">`
`        <constructor-arg name="apiKey" value="${mail.sendgridapikey}"/>`
`    </bean>`
Then I am using that object in m

[2019-05-01 00:45] thinkingserious commented on #425
Hello @pranay2105,

It looks like your API Key may not have the proper permissions. Could you please take a moment and report your issue to our [support team](https://support.sendgrid.com)? Thanks!

With Best Regards,

Elmer

[2019-05-01 13:05] pranay2105 commented on #425
Thank you for your prompt reply..Will do that.

[2019-05-02 06:18] #559 closed

[2019-05-06 02:08] MatteoGioioso commented on #176
same issue

[2019-05-10 17:00] #404 closed

[2019-05-16 17:23] arshadkazmi42 commented on #483
Fixed in #507

[2019-05-16 17:23] #483 closed

[2019-05-20 02:01] chrylis opened #570 "Updated release?"
Updates since the last release included some important fixes like package names, which are also backwards-incompatible. Those haven't been pushed for the better part of a year now; is there an estimate on when a release including those fixes (5.0?) will be available?

[2019-05-20 23:50] thinkingserious commented on #570
Hello @chrylis,

We just did a release today ([v4.4.1](https://github.com/sendgrid/sendgrid-java/releases/tag/v4.4.1)), but I did not note any backwards incompatibility in our testing. Could you please clarify? Thanks!

With Best Regards,

Elmer

[2019-05-21 12:36] nielvalr opened #571 "Upgrade Jackson dependency to latest due to CVE-2019-12086"
#### Issue Summary
`com.fasterxml.jackson.core:jackson-databind:2.9.8`

This was picked up by SourceClear and Snyk as a downstream dependendency vulnerability. I'm not sure where jackson is used in your code, but it appears to be a "high" vulnerability.

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-12086
https://snyk.io/vuln/SNYK-JAVA-COMFASTERXMLJACKSONCORE-174736

Solution: Upgrade to

[2019-05-22 17:00] thinkingserious commented on #571
Hello @nielvalr,

Could you please vote up [this issue](https://github.com/sendgrid/sendgrid-java/pull/557) so that it may climb our backlog faster?

Thanks for taking the time to report this!

With Best Regards,

Elmer

[2019-05-22 17:00] #571 closed

[2019-06-04 00:30] sbeyeler commented on #566
#440 Is something that will be required as a prerequisite for this most likely.

[2019-06-05 20:18] thinkingserious commented on #566
Thank you for the feedback @thummalapalli!

Thanks for that pointer @sbeyeler!

[2019-06-06 06:59] votivemobileshivani commented on #417
java.lang.NoSuchFieldError: No static field INSTANCE of type Lorg/apache/http/conn/ssl/AllowAllHostnameVerifier; in class Lorg/apache/http/conn/ssl/AllowAllHostnameVerifier; or its superclasses (declaration of 'org.apache.http.conn.ssl.AllowAllHostnameVerifier' appears in /system/framework/ext.jar)

please help me..

[2019-06-07 15:44] henriquetruta opened #572 "Overriding host/uri doesn't seem to be working"
#### Issue Summary

I'm trying to override the API host to run some unit tests. It doesn't seem to work or am I doing something wrong?

running the following snippet:
[code]

Gives me:
[code]

How should I do this?

#### Technical details:

* sendgrid-java Version: 4.4.1
* Java Version: 11

[2019-06-07 20:22] thinkingserious commented on #417
Hello @votivemobileshivani,

Could you please open a new issue and provide the following information:
1. How you installed the SDK
2. What version of the SDK you are using
3. The relevant code snippet where this error was generated
4. Some details about the server that ran the code. e.g. operating system, cloud provider, etc...

Thank you!

With Best Regards,

Elmer

[2019-06-07 21:41] thinkingserious commented on #572
Hello @henriquetruta,

Can you try leaving off the `http://` piece, [like so](https://github.com/sendgrid/sendgrid-java/blob/master/src/test/java/com/sendgrid/SendGridTest.java#L101)? Thanks!

With Best Regards,

Elmer

[2019-06-10 08:22] henriquetruta commented on #572
Oh, that worked. Thanks a bunch! Sorry for the noise

[2019-06-10 08:22] #572 closed

[2019-06-10 14:15] surakshith105 opened #573 "Preview email functionality"
#### Issue Summary

I'm trying to implement a functionality wherein users can create custom email templates from our admin app. Users can add multiple substitution parameters in the custom template. Limited set of substitution parameters are given for the user to choose. (eg: Firstname, last name, phone number will some of the substitution parameters).

Implementation wise we are planning to have

[2019-06-10 15:24] thinkingserious commented on #573
Hello @surakshith105,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2019-06-10 15:24] #573 closed

[2019-06-10 15:29] thinkingserious commented on #572
No worries and thanks for following up!

[2019-06-20 21:20] ucancprem opened #576 "Convert your plain text emails to HTML."
#### Issue Summary

Sendgrid plain text emails were being converted to html without a clear warning.

#### Technical details:

We found a surprising issue with sendgrid emails.
Sendgrid plain text emails were being converted to html without a clear warning.

After some research i found [this](https://github.com/sendgrid/sendgrid-nodejs/issues/623)

I understand you have to send emails both as html

[2019-06-21 08:55] kwang1 opened #577 "Client.executeApiCall swallow the Response with error status"
Hi Team,

I know this one is duplicated with https://github.com/sendgrid/java-http-client/pull/36, but after years, the changes are still not applied.

* sendgrid-java Version: 4.4.1
* Java Version: 1.8

[2019-07-03 03:30] toritroniks opened #578 "random spaces in "from-name" field when it has parenthesis"
#### Issue Summary

I've been noticing some spaces being added to the from field when it has parenthesis.
example: if the "from-name" is set as "会社名テスト(長い学校名のテスト長い学校名のテスト)"
The actual email is sent with "会社名テスト( 長い学校名のテスト長い学校名 のテスト)"
You can notice the 2 spaces added.

#### Steps to Reproduce

You can use the following code to reproduce

[code]

#### Technical details:

* sendgrid-java Version: 4.

[2019-07-04 04:08] thinkingserious commented on #576
Hello @ucancprem,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2019-07-04 04:08] #576 closed

[2019-07-04 04:15] thinkingserious commented on #577
Hello @kwang1,

Thanks for checking in with us. While it is on our roadmap to have a release for the java-http-client, I can not give you a hard date. I suggest you watch [this repo](https://github.com/sendgrid/java-http-client) to be notified of the release.

With best regards,

Elmer

[2019-07-04 04:16] #577 closed

[2019-07-04 16:53] PotatoCurry opened #579 "Kotlin DSL"
A Kotlin DSL for building emails in Kotlin programs would be a nice feature. Rather than building emails in the traditional Java way like this:
[code]
Kotlin programs could opt for something like this:
[code]

[2019-07-05 01:43] kwang1 commented on #577
Got it,  thanks @thinkingserious .

[2019-07-17 05:27] gopalanmani opened #580 "sendgrid webhook integration with JAVA"
Hi,

i need the sample code for catching webhook response using JAVA

i enabled event notification and tested that with Webhook tester. and i received the response sample from that browser.

we are sending the marketing emails from our web interface and maintain the message id from our database.

the plan is we need to capture the email delivery status and open click info with webhook and maintain

[2019-07-19 17:32] vmandrychenko commented on #182
Actually, the better approach would be to use built-in builder that produces a client that will parse system properties for you:

[code]

[2019-07-25 13:22] karthikbhat6 commented on #555
Hi @thinkingserious,
I used helper functions as you mentioned to send content in base64 form. But no luck in sending only some types of files like pdf, xlsx, xls etc. Am I missing something?

[2019-07-26 15:56] alberto-fp-24 commented on #578
This seems to be an issue with whatever processes the request, not with the java framework.

When the request goes through, its json body contains the appropriate field.

[2019-07-26 18:17] bradical commented on #559
We just ran into this with Open JDK 12.0.1 and sendgrid-java-4.4.1.jar and I'm unclear about the recommendations here. We're not using Personaliation in our examples but ran into this nonetheless. What was the cause of this?

[2019-07-29 00:21] toritroniks commented on #578
I believe it was a problem with the Sendgrid API. They probably fixed it, since I didn't change any code and the problem is gone.

closing the issue.

[2019-07-29 00:21] #578 closed

[2019-07-31 11:52] nullnullschmidt commented on #509
Is this related to the problem that one always gets an IOException when the Web API response code is larger or equal 300? (as thrown by sendgrid/java-http-client/com.sendgrid.Client)
In fact this is nowhere or at least not clearly documented.
   * @throws IOException in case of a network error.
sounds like a real network issue, not like a 404 for a message ID not found.
The actual assumption would

[2019-08-06 06:31] martintjandra commented on #417
Hi @thinkingserious , I also experience the same issue as @votivemobileshivani .

[code]

1. I installed the SDK using Gradle.

[code]

I also tried to install using jar in libs, still producing similar error.

2. Sendgrid-java version 4.4.1. That was the latest I can find on the website.

3. It happens at Sendgrid initialization.

SendGrid sg = new SendGrid(SendGridAPIKey);

4. It's compiled usin

[2019-08-07 03:28] martintjandra opened #581 "Lorg/apache/http/conn/ssl/AllowAllHostnameVerifier issue"
Hi. I saw some thread discussing about this and closed, but I see no solution for this problem so far.

[code]

1. How you installed the SDK

I installed the SDK using Gradle.

[code]

I also tried to install using jar in libs, still producing similar error.

2. What version of the SDK you are using

Sendgrid-java version 4.4.1. That was the latest I can find on the github.

3. The relevant code s

[2019-08-08 04:46] albertor24 opened #582 "Docker image non-functional"
#### Issue Summary

The instructions in the docker folder are not up to date, and some commands do not work. Moreover, it will be trying to download Prism v3, which will not run when used in the form specified in `entrypoint.sh`.

#### Steps to Reproduce

1. Follow the steps in USAGE.md

#### Expected behaviour:
Instructions are correct

#### Actual behaviour:
`./gradlew test` will fail
`prism` wo

[2019-08-20 08:52] silentsnooc opened #585 "java.lang.NoClassDefFoundError: org/apache/http/client/ResponseHandler"
I just added SendGrid to my dependencies:

[code]

and created a Spring `@Configuration` for it:

[code]

However, I am getting:

[code]

How can I fix this?

[2019-08-21 06:07] thinkingserious commented on #579
Hello @PotatoCurry,

While we do not have creating a Kotlin DSL on our roadmap currently, we will keep this issue alive to determine if there is sufficient demand. Thank you very much for bringing this idea forth!

With best regards,

Elmer

[2019-08-21 06:09] thinkingserious commented on #580
Hello @gopalanmani,

There is a WIP issue/PR you can follow [here](https://github.com/sendgrid/sendgrid-java/issues/283). Please add your voice to that issue or PR by either commenting or giving a +1 to help raise the priority in our backlog.

With best regards,

Elmer

[2019-08-21 06:09] #580 closed

[2019-08-21 06:15] thinkingserious commented on #581
Hello @martintjandra,

I believe you are blocked on [this issue](https://github.com/sendgrid/sendgrid-java/issues/388). Please add your voice there to help improve that issue's spot in our backlog.

With best regards,

Elmer

[2019-08-21 06:15] #581 closed

[2019-08-21 06:16] thinkingserious commented on #582
Thank you @albertor24! '

We've added this to our backlog for a code review.

With best regards,

Elmer

[2019-08-21 06:18] thinkingserious commented on #585
Hello @silentsnooc,

It looks like you are missing `org.apache.http.client` in your project.

I suggest you either try using the [SendGrid fatjar](https://github.com/sendgrid/sendgrid-java/releases/download/v4.4.1/sendgrid-java.jar) or try adding the apache modules directly.

With best regards,

Elmer

[2019-08-21 08:07] silentsnooc commented on #585
@thinkingserious I found that there was already a dependency in my pom.xml but it pointed to the wrong version. Problem solved :)

[2019-08-21 08:07] #585 closed

[2019-08-21 19:26] sebash1992 commented on #420
Hi, i am facing the same issue. is a Random behavior, not in all emails. I send every day 30 emails approximately. But sometimes one of those emails is received twice. I am using  .net sendgrid library v9.11. The app is running as an azure function that runs 1 every day.

My code is

`        public static async Task<SendGridResponse> Send(string subject, string[] toUsers, string dataFromElastic,

[2019-08-26 07:43] zebrox5 opened #586 "Duplicate classes."
If i update httpclient to latest version the i get duplicate class error and If I don't then I get java.lang.NoClassDefFoundError: org/apache/http/client/HttpClient

Duplicate class error

Duplicate class org.apache.http.ConnectionClosedException found in modules httpcore-4.4.3.jar (httpcore-4.4.3.jar) and httpcore-4.4.4.jar (org.apache.httpcomponents:httpcore:4.4.4)
Duplicate class org.apache.htt

[2019-08-26 08:03] zebrox5 commented on #417
Hi @thinkingserious , I also experience the same issue as @martintjandra and if I update httpclient version then I'm having duplicate value error and code is not processed. I have almost tried everything still i'm unable to use your api.

[2019-08-26 08:04] zebrox5 opened #587 "Hi @thinkingserious , I also experience the same issue as @votivemobileshivani ."
Hi @thinkingserious , I also experience the same issue as @votivemobileshivani .

[code]

1. I installed the SDK using Gradle.

[code]

I also tried to install using jar in libs, still producing similar error.

2. Sendgrid-java version 4.4.1. That was the latest I can find on the website.

3. It happens at Sendgrid initialization.

`SendGrid sg = new SendGrid(SendGridAPIKey);`

4. It's compiled us

[2019-08-27 10:27] tobiasrandy commented on #587
I also have the same issue.
Been stuck for 2 days. I already tried everything and still getting the same error.

[2019-08-28 17:28] santhoshgs opened #596 "Http 202 with activity feed shows status as "Not Delivered" and TO is empty"
#### Issue Summary

I am using sendgrid to send mails using dynamic template.  But am getting HTTP 202 as response and activity feed shows that the mail is in the status "Not Delivered" and details shows empty line in TO field. Please let me know where am going wrong.

**Below mentioned is my code :**

        Mail mail = new Mail();
        Email fromEmail = new Email();
        fromEmail.setName

[2019-08-28 22:54] wjwalcher commented on #420
It also seems that I'm having this issue with SendGrid Java 4.4.1
When I send an email once, it sends the email twice.
I've checked that the following function is only being called once.
Here is my code (essentially a copy/paste from the example code).
` public void sendEmail(String from, String to, String subject, String content) {
        Email fromEmail = new Email(from);
        Email toEmail

[2019-09-23 09:13] megri commented on #147
Why was the issue closed? This still seems to be a problem.

[2019-09-25 06:08] magnetronus commented on #417
The issue still exists:

        at org.apache.http.conn.ssl.SSLConnectionSocketFactory.<clinit>(SSLConnectionSocketFactory.java:144)
        at org.apache.http.impl.client.HttpClientBuilder.build(HttpClientBuilder.java:966)
        at org.apache.http.impl.client.HttpClients.createDefault(HttpClients.java:58)
        at com.sendgrid.Client.<init>(Client.java:56)
        at com.sendgrid.SendGrid.<i

[2019-09-25 06:10] magnetronus opened #588 "java.lang.NoSuchFieldError: No static field INSTANCE of type Lorg/apache/http/conn/ssl/AllowAllHostnameVerifier;"
The issue still exists:

        at org.apache.http.conn.ssl.SSLConnectionSocketFactory.<clinit>(SSLConnectionSocketFactory.java:144)
        at org.apache.http.impl.client.HttpClientBuilder.build(HttpClientBuilder.java:966)
        at org.apache.http.impl.client.HttpClients.createDefault(HttpClients.java:58)
        at com.sendgrid.Client.<init>(Client.java:56)
        at com.sendgrid.SendGrid.<i

[2019-09-26 17:15] alberto-fp-24 commented on #588
Duplicate of https://github.com/sendgrid/sendgrid-java/issues/587

[2019-10-09 10:42] hashweather opened #589 "Usable on Android?"
Hi, I am beginning to explore the SendGrid api on android and I was wondering. Can I use this java library ob the android platform? And if so, how and where do I copy the api file to?

[2019-10-15 18:11] adamrmelnyk commented on #567
This looks like a duplicate of a closed issue, seems like it's already upgraded: https://github.com/sendgrid/sendgrid-java/blob/master/pom.xml#L23

[2019-10-16 00:08] neoprez commented on #237
I'll tackle this one

[2019-10-16 16:45] paul-eeoc opened #591 "set bounce from"
Is there a way with the Mail helper to set the bounce email address where undeliverable messages will be returned?
similar to
org.apache.commons.mail.Email setBounceAddress()

* sendgrid-java Version: 4.4.1

[2019-11-04 16:05] tjfdud opened #593 "email subject with special char like emdash shows additonal ?= appended by SendGrid"
#### Issue Summary
We are sending subject with emdash and it shows **additional ?=** at the end and it randomly **miss a space after emdash** depending on the string.

![image](https://user-images.githubusercontent.com/26883383/68135198-4b92dc00-fef1-11e9-80d0-7f1228bbf99f.png)

[code]

#### Steps to Reproduce

1. Create email template using handvar {{{subject}}}
2. Pass the subject string from ja

[2019-11-06 08:27] rsclarke-vgw opened #594 "Travis CI builds are failing"
#### Issue Summary

Raised PRs are failing in Travis CI.

- #575
- #583
- #590
- #592

Logs suggest outdated gradle?

[2019-11-08 20:12] thinkingserious commented on #586
Hello @zebrox5,

Have you tried excluding the duplicates in your gradle file, [like so](https://stackoverflow.com/a/57624416)?

With best regards,

Elmer

[2019-11-08 20:17] thinkingserious commented on #587
Hello @zebrox5,

Could you please follow [this issue](https://github.com/sendgrid/java-http-client/issues/2) instead? Pull requests and +1s on the issue summary will help it move up the backlog. Thanks!

With best regards,

Elmer

[2019-11-08 20:17] #587 closed

[2019-11-08 20:17] thinkingserious commented on #588
Hello @magnetronus,

Could you please follow this issue instead? Pull requests and +1s on the issue summary will help it move up the backlog. Thanks!

With best regards,

Elmer

[2019-11-08 20:17] #588 closed

[2019-11-08 20:18] thinkingserious commented on #589
Hi @hashweather,

I do not think so. Could you please follow this issue, which seeks to add Android support? Pull requests and +1s on the issue summary will help it move up the backlog. Thanks!

With best regards,

Elmer

[2019-11-08 20:18] #589 closed

[2019-11-08 21:06] thinkingserious commented on #591
Hello @paul-eeoc,

We do not have a mechanism to set the bounce email address; however, you can retrieve a list of bounced emails [via API](https://github.com/sendgrid/sendgrid-java/blob/master/USAGE.md#retrieve-all-bounces). Does that meet your needs?

With best regards,

Elmer

[2019-11-08 21:08] thinkingserious commented on #593
Hello @tjfdud,

Thanks for taking the time to report this!

I'm not sure if this is an issue with this helper library or the underlying API.

This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

With best regards,

Elmer

[2019-11-08 21:11] thinkingserious commented on #594
Hello @rsclarke-vgw,

Thanks for reporting this! We will need to look into what upgrades will be necessary to get the builds passing again.

This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

With best regards,

Elmer

[2019-11-11 07:06] rsclarke-vgw commented on #594
The problem here is this is not being actively maintained;

- https://github.com/sendgrid/sendgrid-java/pull/436
- https://github.com/sendgrid/sendgrid-java/pull/459

PR's are being raised to update gradle going back to early last year yet never merged. :/

[2019-11-20 19:33] thinkingserious commented on #545
Thanks @vanta!!

My suggestion would be to make [that call](https://github.com/sendgrid/sendgrid-java/blob/master/src/main/java/com/sendgrid/helpers/mail/objects/Content.java#L47) optional as well.

A PR would help bring it up the backlog as well as +1 and/or comments.

With best regards,

Elmer

[2019-12-03 03:20] Moocar commented on #559
For me, it was a rather silly case of passing a null `apiKey` to the [Sendgrid Constructor](https://github.com/sendgrid/sendgrid-java/blob/master/src/main/java/com/sendgrid/SendGrid.java#L51).

[2019-12-05 11:18] cbeardsmore commented on #594
Plus one for this. 1 year seems a decently scary amount of time for builds to be failing!

[2019-12-06 01:24] vgw-rhysc commented on #594
BUMP - These failed builds and stale PRs dont look good SendGrid team

[2019-12-09 04:18] liunan-lynn commented on #564
Same issue with v4.4.1.
using maven to import, but v 4.1.2 is downloaded.
[code]

[2019-12-11 23:25] AnpooSivanadi-okta commented on #425
Seeing the same issue. Any update?

[2019-12-13 10:58] asamonenko opened #597 "Set envelope address for XMatters"
#### Issue Summary

How I can set envelope address in order to use XMatters as alert mechanism?

[2019-12-26 18:20] #567 closed

[2020-01-03 07:31] anubhavgupta1012 commented on #195
Create an environment variable
Update your development environment with your SENDGRID_API_KEY. Run the following in your shell:

echo "export SENDGRID_API_KEY='YOUR_API_KEY'" > sendgrid.env
echo "sendgrid.env" >> .gitignore
source ./sendgrid.env

[2020-01-03 07:32] anubhavgupta1012 commented on #195
I was facing the same kinda issue but finally solved it by setting the environment variable as defined above.

[2020-01-06 02:17] mahesh2000 commented on #157
it seems as though inline images don't render in the gmail web client.

[2020-01-16 18:13] ashaffer1903 opened #598 "Create a new Contact and add to List in one method call"
#### Issue Summary

When using the /marketing/contacts endpoint of the V3 API, I am not able to also add the contact to a list at the same time.

#### Steps to Reproduce

1. Create a new list: POST https://api.sendgrid.com/v3/marketing/lists
`{"name": "test"}`
2. The API should return 200, with a response body similar to:
`{
    "name": "test",
    "id": "abc-123",
    "contact_count": 0
}`
3. Now

[2020-01-28 07:50] partySquirrel commented on #594
@rsclarke-vgw  any updates on this?

[2020-01-28 08:09] rsclarke-vgw commented on #594
@partySquirrel Nope.  It doesn't look like this project is getting prioritised at all from SendGrid.

[2020-01-29 08:08] reinhardholl commented on #553
@thinkingserious I think this might be an issue with Sendgrid and not the java client. I see the same behaviour using curl:

[code]

It looks like multiple `personalizations` are being ignored and only the first one is being sent. The above example used to work correctly using `substitutions`.

[2020-01-30 14:26] rwalerow opened #600 "Wrong encoding in From field"
Using sendgrid:4.2.0
[code]
There problem similar to the one within php implementation: [sendgrid-php#826](https://github.com/sendgrid/sendgrid-php/issues/826) occure.

Message received in outlook headers:
[code]
This creates the problem with utf8 chars used in From field.

For example
ö -> Ã¶
å -> Ã¥

[2020-02-04 16:38] childish-sambino commented on #594
Build issues resolved as part of #599.

[2020-02-04 16:38] #594 closed

[2020-02-04 16:55] childish-sambino commented on #561
Fixed by #599

[2020-02-04 16:55] #561 closed

[2020-02-04 19:59] childish-sambino commented on #508
Closing as we're now using internal tooling for this.

[2020-02-04 19:59] #508 closed

[2020-02-04 20:10] childish-sambino commented on #492
Closing as we're now using internal tooling for this.

[2020-02-04 20:10] #492 closed

[2020-02-04 20:11] childish-sambino commented on #523
Closing as the position can no longer be found.

[2020-02-04 20:11] #523 closed

[2020-02-04 21:29] #586 closed

[2020-02-04 21:37] #399 closed

[2020-02-06 05:40] steaks opened #605 "Sendgrid resources cannot be cleaned up elegantly"
This library claims resources primarily through

[code]

The library provides no mechanism for releasing these resources. Consumers of the api should be able to release the resources elegantly when they're finished using Sendgrid.

For reference, see the ExecutorService's documentation for shutting down https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/ExecutorService.html and the Clo

[2020-02-07 16:59] kebeda opened #606 "4.4.2, 4.4.3 JARs are missing the com.sendgrid.helpers.* package"
### Issue Summary
The JARs available for download for release 4.4.2 and 4.4.3 on this site, as well as what is available on Maven Central are missing the package com.sendgrid.helpers and all subpackages!

### Steps to Reproduce
1. Open up the jar.
2. Navigate to the com.sendgrid folder.
3. Notice there is no 'helpers' folder.

### Code Snippet
N/A

### Exception/Log
[code]

### Technical details:

[2020-02-07 17:10] kebeda opened #607 "sendgrid-java 4.4.1 depends upon old com.sendgrid:java-http-client-4.1.0"
### Issue Summary
sendgrid-java 4.4.1 depends upon old com.sendgrid:java-http-client-4.1.0, which in turn depends upon an old org.apache.httpcomponents:http-core 4.4.4. Please update this transitive dependency in java-http-client to org.apache.httpcomponents:http-core 4.4.13, and then use the new java-http-client as a dependency to new sendgrid-java.

### Steps to Reproduce
N/A

### Code Snippet
N

[2020-02-07 17:11] kebeda commented on #607
See also #388

[2020-02-07 18:55] eshanholtz commented on #606
Hi @kebeda,

I've updated the jar on Github to have the assets in the `helpers/` folder, so you should be able to import the packages as usual if you use the jar attached to release 4.4.3.
The jar on Maven is a shaded jar and the packages located in `com.sendgrid.helpers.*` have been moved to the top level, so you should be able to use the updated release by importing `package com.sendgrid.*`
I'm

[2020-02-07 18:55] #606 closed

[2020-02-10 18:36] childish-sambino commented on #388
Fixed by 69ba0d2941ad33eb57bec96d4d0cb3c52961dd2d

[2020-02-10 18:36] #388 closed

[2020-02-10 18:42] childish-sambino commented on #607
Should be fixed in the latest release (4.4.4) which (among other things) upgraded to using the latest version of `java-http-client` which included [your changes](https://github.com/sendgrid/java-http-client/pull/117) to upgrade `httpcore`.

[2020-02-10 18:42] #607 closed

[2020-02-17 20:08] deepthi28 opened #609 "error being thrown from sendgrid jar: java.lang.NoClassDefFoundError: org/apache/commons/logging/LogFactory"
### Issue Summary
Getting an error from the Sendgrid jar

### Code Snippet
[code]

### Exception/Log
com.google.apphosting.runtime.jetty9.JettyLogger warn: Error for /api/representative/requestToResetPassword (JettyLogger.java:29)
java.lang.NoClassDefFoundError: org/apache/commons/logging/LogFactory
	at org.apache.http.conn.ssl.DefaultHostnameVerifier.<init>(DefaultHostnameVerifier.java:72)
	at or

[2020-03-03 12:33] sophiakaile commented on #180
yes, there are so many software are available to send [bulk email software](https://blogs.systweak.com/10-best-software-to-send-mail-in-bulk-2017/)

[2020-03-04 10:12] georgepapas-afterpay commented on #147
This is still a problem in 4.4.1

[2020-03-04 10:13] georgepapas-afterpay opened #611 "SandboxModeEnabled false causes API Error"
### Issue Summary
Setting `sandboxModeEnabled` to `false` in `MailSettings` of `Mail` object results in an error when sending the message.

### Steps to Reproduce
1. Create a `Mail` object instance
2. Add `settings`
3. Set the `sandboxModeEnabled` property to false

### Code Snippet
[code]

### Exception/Log
[code]

The relevant json fragment for the generated request looks like this...
[code]

##

[2020-03-04 16:01] childish-sambino commented on #611
Not sure why the other issue was closed since it's still an issue.

Adding this to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

[2020-03-05 20:57] thinkingserious commented on #596
Hello @santhoshgs,

[A 202 status](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html) means we received your request, it was deemed valid and queued for delivery. It could be possible the email went to SPAM.

Also, could you please provide the output to `System.out.println(mail.build());` for further debugging assistance. Thank you!

With best regards,

Elmer

[2020-03-05 20:59] thinkingserious commented on #597
Hello @asamonenko,

I'm not familiar with XMatters. If you need to add headers to your API requests, you can do so with the [`addHeader`](https://github.com/sendgrid/sendgrid-java/blob/master/examples/helpers/mail/Example.java#L63) method.

I hope that helps.

With best regards,

Elmer

[2020-03-05 21:04] thinkingserious commented on #598
Hello @ashaffer1903,

It sounds like you would like a helper method that would allow you to add a contact to a list in one method call. I've updated the title accordingly.

Pull requests to add this feature are welcome and will be reviewed based on priority, but Twilio SendGrid is not actively building new functionality for the library.

With best regards,

Elmer

[2020-03-05 22:24] #600 closed

[2020-03-05 22:27] thinkingserious commented on #605
Hello @steaks,

It looks like we had the same issue in our `twilio-java` SDK, solved by [this PR](https://github.com/twilio/twilio-java/pull/502).

Pull requests to add this feature are welcome and will be reviewed based on priority, but Twilio SendGrid is not actively building new functionality for the library.

With best regards,

Elmer

[2020-03-05 23:09] childish-sambino commented on #598
I'm not seeing this behaviour locally. Creating a contact with the returned list ID adds the contact to the list. Note that the payload in your example should be:
[code]
Could you post sample code that illustrates this issue?

[2020-03-06 14:57] childish-sambino commented on #157
@mahesh2000 Just tested locally and seeing the image render proper in gmail web client. Do you mind posting sample code that illustrates the issue?

[2020-03-06 20:14] rkatimoonlight opened #613 "Dynamic template in Java sdk is not rendering the email values"
### Issue Summary
Hi Team, i am trying to use the iterator in html email template as below :

[code]

with testdata it works fine in sendgride editor.
[code]
When i set same using java sdk it doesnt not set the jsonobject values in email.

Can you please let me know what we are missing

### Code Snippet
[code]

# paste code here
[code]
# paste exception/log here
[code]

[2020-03-06 20:37] mahesh2000 commented on #157
hi, here's the sample code i'm using. both base64 images show up as attachments and not inline within the HTML. thanks, m

[code]

[2020-03-06 20:40] childish-sambino commented on #157
Can you try changing `<img src='logo.png'` to `<img src='cid:myLogoCid'`

[2020-03-06 21:46] mahesh2000 commented on #157
i believe i did that but it didn't work. i'll test again. thanks.

[2020-03-06 22:19] thinkingserious commented on #613
Hello @rkatimoonlight,

It looks like you are missing the `setTemplateID` method as demonstrated [here](https://github.com/sendgrid/sendgrid-java/blob/master/USE_CASES.md#with-mail-helper-class).

With best regards,

Elmer

[2020-03-06 23:50] #570 closed

[2020-03-06 23:50] #591 closed

[2020-03-08 11:48] rkatimoonlight commented on #613
Hi Elmer Thomas,
Thanks for replying. I am already setting the template id. I am getting the email but it does not have the jsonobject fields. Let me know if anything else is missing. Below are the code :
mail.setFrom(fromEmail);
mail.setTemplateId(emailNotification.getTemplateId());

[2020-03-09 15:31] deepthi28 commented on #609
Hello @thinkingserious
I am using the jar from: https://repo1.maven.org/maven2/com/sendgrid/java-http-client/4.3.1/

[2020-03-09 15:36] childish-sambino commented on #613
Could you post the request body (scrubbed of any private date) for help with debugging?

https://github.com/sendgrid/sendgrid-java/blob/master/TROUBLESHOOTING.md#viewing-the-request-body

[2020-03-09 18:36] rkatimoonlight commented on #613
Json Object which got printed while sending the request using Java sdk:

{
    "method": "POST",
    "baseUri": "",
    "endpoint": "mail/send",
    "body": {
        "from": {
            "email": "xxgmail.com"
        },
        "subject": " ",
        "personalizations": [
            {
                "to": [
                    {
                        "email": "yy@gmail.com"

[2020-03-10 13:22] steaks commented on #605
@thinkingserious thanks for responding. That's really helpful to know!

If this library isn't being maintained has SendGrid changed their recommendation about how systems should be interacting with their API?

[2020-03-10 14:56] childish-sambino commented on #605
This library is still the recommended way of interacting with the API, and PRs to address bugs and features will still be reviewed. Building out new features is just a lower priority right now.

[2020-03-10 15:11] childish-sambino commented on #613
I just tested with this payload and received the email properly populated, but the bcc came back empty. Are you seeing issues at the recipient or bcc?

[2020-03-10 17:26] rkatimoonlight commented on #613
i am not seeing the issue at the recipient or bcc. In mail, these below values are not populating.
 "jsonobject": [
                        {
                            "jobTitle": "fdfsfsdsfsdfdsfsdfsd",
                            "jobOwnerName": "dfdfdf",
                            "shareUrl": "https://abcbitly.xom"
                        }
                    ]

Html Template code :

   <ol

[2020-03-10 17:29] childish-sambino commented on #613
Okay, if the recipient is not seeing the content and I'm unable to recreate the issue then best path forward is to contact support for further debugging. Please reference this issue when submitting a request.

[2020-03-10 17:29] #613 closed

[2020-03-10 17:29] thinkingserious commented on #613
Hello @rkatimoonlight,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2020-03-10 17:31] childish-sambino commented on #613
Here's the code I used for reference:
[code]

[2020-03-10 18:56] thinkingserious commented on #609
Hello @deepthi28,

I believe the jar you want is: https://repo1.maven.org/maven2/com/sendgrid/sendgrid-java/4.4.5/

Could you please try that and let us know if your issue is resolved? Thank you!

With best regards,

Elmer

[2020-03-11 06:33] deepthi28 commented on #609
@thinkingserious  still getting the same error with https://repo1.maven.org/maven2/com/sendgrid/sendgrid-java/4.4.5/, should I update the sendgrid/java-http-client jar as well?

[2020-03-16 23:55] thinkingserious commented on #609
Hello @deepthi28,

Can you please try adding [this dependency](https://github.com/sendgrid/java-http-client/blob/master/pom.xml#L144) to your project as well?

Thanks!

Elmer

[2020-03-17 23:20] deepthi28 commented on #609
Hello Elmer,

Adding that dependency didn't resolve the issue either

Thanks,
Deepthi

[2020-03-18 06:41] jeevaengg21 commented on #434
hi any recent update on @gopinathpuppaladev request, am also looking for java-parser.

@gopinathpuppaladev if you found any hack, please share

[2020-03-18 20:08] madhurgupta10 commented on #434
Sorry 😞 for not able to work on this issue. Feel free to reassign it to someone else.

[2020-03-18 22:23] #611 closed

[2020-03-19 22:21] thinkingserious commented on #609
Hello @deepthi28,

It looks like you are using Google AppEngine. If so, perhaps the following resources might be useful:

- https://groups.google.com/forum/#!topic/google-appengine/MSHA-G0IF4k (note the very last comment)
- https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/appengine-java8/sendgrid

Please take a look and let me know how it goes. Thank you!

With best regards,

E

[2020-03-25 01:55] Logiisch opened #614 "Link to .jar isn't working"
The link to the .jar-file in the readme.md isn't working.

Link: https://github.com/sendgrid/sendgrid-java/releases/download/v4.4.6/sendgrid-java.jar

[2020-03-25 21:45] eshanholtz commented on #614
It appears there's a typo in the link. It should be https://github.com/sendgrid/sendgrid-java/releases/download/4.4.6/sendgrid-java.jar
Readme will be updated soon.

[2020-03-25 22:55] #614 closed

[2020-03-30 12:59] invasionofsmallcubes opened #616 "I can't send attachments because it says it's not base64 encoded but it is."
### Issue Summary
I can't send attachments because it says it's not base64 encoded but it is.

### Steps to Reproduce
Run the code

### Code Snippet
[code]

### Exception/Log
[code]

### Technical details:
* sendgrid-java version: 4.4.6
* java version:
[code]
* scala version: 2.11

[2020-04-01 07:50] invasionofsmallcubes commented on #616
Update:
if I do `attach.setType("text/plain")` it works. I think it's clearly a bug?

[2020-04-04 00:33] thinkingserious commented on #616
Hello @invasionofsmallcubes,

I believe if you remove `attach.setType` it should still work.

Here is the code I used to test with success:

[code]
Note that the above works if I uncomment `attachments.setType("text/plain");` as well.

Could you please try leaving out `attach.setType("text/plain")` all together?

Thanks!

With best regards,

Elmer

[2020-04-04 17:26] neilchaudhuri commented on #566
Has this really not moved in almost a year? Does this mean the majority of your clients who use Java are still on Java 8? Or are they simply working around this by calling the REST API through their preferred HTTP client?

[2020-04-04 22:20] danielcompton commented on #566
FWIW, we use the HTTP API and it works fine for our simple use.

[2020-04-06 13:44] #598 closed

[2020-04-06 14:12] childish-sambino commented on #566
Looks like Java 11 works fine: https://travis-ci.org/github/sendgrid/sendgrid-java

[2020-04-06 14:12] #566 closed

[2020-04-06 19:55] #597 closed

[2020-04-07 00:50] TheMadDeveloper commented on #565
Oh such a marvelous day it will be when this is fixed. I can't convey the number of man hours that have been spent trying to resolve broken tests because IDEs like IntelliJ give precedence to this dependency over test dependencies!!

[2020-04-08 15:02] childish-sambino commented on #565
Fixed as part of the `4.4.3` release.

[2020-04-08 15:02] #565 closed

[2020-04-08 17:35] #596 closed

[2020-04-14 07:39] invasionofsmallcubes commented on #616
No, now it's not working either with or without it....did you change something in the meantime?

[2020-04-15 04:47] sahilbhavsar opened #619 "Sendgrid failing to attach multiple files and showing no error code"
### Issue Summary
I'm using sendgrid email with Java. I'm trying to send multiple attachments but somehow the email is missing 1 or 2 files. Sometimes all attachments are being sent. I've checked the status code too. Its 202 every time. This is weird behavior. Could anyone point out if I am missing something.

### Steps to Reproduce
1. Run the code

### Code Snippet
[code]

### Exception/Log
[code

[2020-04-15 16:46] invasionofsmallcubes commented on #616
@thinkingserious any news?

[2020-04-15 23:18] thinkingserious commented on #619
Hello @sahilbhavsar,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2020-04-15 23:18] #619 closed

[2020-04-16 10:36] invasionofsmallcubes commented on #616
Guys,

I got seriously angry today. I had to go back to 2017 issues to find about that:

1) there is a problem if you don't use a specific version of commons-codec.
2) if you use scala you cannot use your builder because in scala you cannot use inner static classes (I would suggest you to move out of this, anyway is bad design pattern)
3) your tutorial doesn't even USE commons-codec but the java.u

[2020-04-16 10:36] #616 closed

[2020-04-20 21:34] thinkingserious opened #620 "Inner static classes not usable with Scala"
### Issue Summary
For reference, see [this issue](https://github.com/sendgrid/sendgrid-java/issues/616#issuecomment-614566513).

### Steps to Reproduce
1. Attempt to use this helper library with Scala

[2020-04-20 21:36] thinkingserious commented on #616
Hello @invasionofsmallcubes,

My apologies for the delayed response.

Thank you for taking the time to provide further detail on this issue, that is much appreciated!

1. I believe you are referring to is [this one](https://github.com/sendgrid/sendgrid-java/issues/407). Re-opening this one to add to our internal backlog. Pull requests and +1s on the issue summary will help it move up the backlog.

[2020-04-20 22:09] #609 closed

[2020-04-21 11:41] sohilluhar commented on #417
Any solution on this issue

[2020-04-26 17:31] vmfox commented on #417
Will there be any (simple) solution at some point?

I have already spent/wasted 2 days trying to integrate SendGrid into my app and every single time it either fails because of the:
java.lang.NoSuchFieldError: No static field INSTANCE of type org/apache/http/conn/ssl/AllowAllHostnameVerifier; #588

or the duplication of libraries, or something else. This is particularly frustrating and with the is

[2020-05-13 18:15] arkitex opened #623 "Guidance on sending emails to many subusers (100+)"
### Issue Summary
I'm trying to use this library to send emails on behalf of many subusers - in the hundreds, if not thousands. It appears that the primary pattern is to use `new Sendgrid(apiKey)` in order to send - but that creates a FixedThreadPool with 8 threads. If I wish to send emails to even 10 subusers, this means I'll have 10 FixedThreadPools with 8 threads each - not desirable.

Is there

[2020-05-20 09:40] giordy commented on #259
We are experiencing the same issues in our project. The code is very straight-forward and pretty much identical to the one suggested in the README. We're using the library version 4.5.0.

The only differences are that we're using Kotlin and that we're reusing the SendGrid object, which however is thread-safe as suggested in issue #213

The apiKey is 100% not null.

[code]

Some email went through

[2020-05-20 14:57] aljovicamer opened #624 "Encoding Webhook public key"
### Issue Summary
I'm trying to test the new signed webhooks but I'm not sure how exactly to encode the public key.
In production, this is provided by Sendgrid but for test purposes, I need to create it myself.
I'm using `starkbank-ecdsa` library to create the private and public key from the payload and timestamp. Here is the code snippet:

### Code Snippet
[code]

But this code then throws an exc

[2020-05-20 21:44] childish-sambino commented on #259
I'm able to repo this issue basically whenever there's an auth issue _and_ the body is sizable.

@giordy In the short-term, when you encounter this issue, could you try to send the same email but without the attachments? I think you will then get back a sane error response with the proper error message embedded.

[2020-05-20 22:04] childish-sambino commented on #259
Closing this as a non-library issue since it cannot/should not be remedied in client-side code. I've opened an internal ticket for tracking (reference ID: _CL-2667_).

[2020-05-20 22:04] #259 closed

[2020-05-21 08:34] giordy commented on #259
@childish-sambino the code I pasted supports sending attachments however at the moment we never send them. The feature that uses attachments is not enabled yet.

Currently we only send subject+body emails, yet we still see the error.

[2020-05-21 14:24] childish-sambino commented on #259
@giordy How large is the total body payload? I'm seeing the issue when it's about >4KB, but didn't narrow it down further. Can you try stripping the payload down as small as possible? In my testing this was always the result of an auth issue when the payload was _large_, but when the payload shrunk down the proper error was returned. In fact, the payload could be pretty much empty and the auth err

[2020-05-21 18:32] leothekim commented on #623
Definitely very curious how this use case is handled!

[2020-05-21 20:36] childish-sambino commented on #623
If all that's needed it to be able to set the `On-Behalf-Of` header at the request-level, then it's a pretty simple change to make `SendGrid.api()` merge the request headers with the client-level request headers. Then you could just do something like:
[code]

Would this work for your usecase?

[2020-05-21 21:53] arkitex commented on #623
I'm trying to actually send emails, and the Sendgrid docs claim that On-Behalf-Of is not supported for mail.send :(: https://sendgrid.api-docs.io/v3.0/how-to-use-the-sendgrid-v3-api/on-behalf-of

[2020-05-22 15:31] childish-sambino commented on #623
Ah, TIL. We _could_ update the library to lazily-create the fixed thread pool, so it would be created on the first call to `SendGrid.attempt`, which you don't have to use and could just call `SendGrid.api()` instead.

[2020-05-26 08:28] giordy commented on #259
@childish-sambino sorry for the delay. The payload was indeed rather large, around 20-25kB, being the body an HTML document. However I managed to do some tests this morning and so far the problem seems to be gone.
I tried first to send some emails with a very light payload and always got 202.
I re-enabled the sending of the large emails and I'm still seeing no errors.

[2020-05-26 21:36] eshanholtz commented on #624
Please see [this example](https://github.com/sendgrid/sendgrid-java/blob/master/examples/helpers/eventwebhook/Example.java) on adding the bouncy castle provider. I would look into using Bouncy Castle for [generating elliptic curve public keys](https://bouncycastle.org/wiki/display/JA1/Elliptic+Curve+Key+Pair+Generation+and+Key+Factories) to test with.

[2020-05-27 13:22] svachmic commented on #481
What is the status on using templates now? Both links on [usage](https://github.com/sendgrid/sendgrid-java/blob/master/USE_CASES.md) lead to [legacy templates](https://sendgrid.com/docs/ui/sending-email/create-and-edit-legacy-transactional-templates/). Which templates are we supposed to be using now?

[2020-05-29 21:35] digsub opened #625 "Build fails on "Send Email with Java and Twilio SendGrid" code"
Code below to send email per sendgrid-java github and [https://youtu.be/06M3lZzZEMY](url)

### Technical details:
implementation 'com.sendgrid:sendgrid-java:4.5.0'  (build succeeds when this is removed)
Android Studio 4.0
Gradle plugin 4.0.0

### build.gradle (app)
[code]

### build.gradle (project)
[code]

### Java class
[code]

[2020-05-30 09:58] digsub commented on #625
### More information:

`    packagingOptions {
        exclude 'META-INF/DEPENDENCIES'
    }`

added to android{} in app build.gradle allows the build to complete.  However, MySendGrid.sendEmail("recipient@somedomain.com"); now crashes the app with the following stack trace.

--------- Stack trace ---------

    org.apache.http.conn.ssl.SSLConnectionSocketFactory.<clinit>(SSLConnectionSocketFactor

[2020-05-31 12:28] digsub commented on #625
Unsolved for a long time #417, #587, #588, #2.  I'll try another service.

[2020-06-04 14:37] svachmic opened #627 "How to select dynamic template version?"
### Issue Summary
The [use cases](https://github.com/sendgrid/sendgrid-java/blob/master/USE_CASES.md) page has only legacy endpoint documentation and does not say how to set the **version** of dynamic templates.

### Code Snippet
[code]

I tried inspecting where to put it (version name), but can't seem to find a place where that information would be placed. We have multiple versions under one temp

[2020-06-04 14:48] svachmic commented on #627
The more I look into the code, the more I doubt that this is the right approach for multilingual approach as there is only one active template at a time. I don't know where I got it from that versions are the way to localize a template.

[2020-06-04 14:48] #627 closed

[2020-06-08 18:47] childish-sambino commented on #625
At a high-level, what the usecase for needing to install this on AndroidOS? Generally, it's discouraged from using these repos on a client since it would require the client to have proper SendGrid auth.

[2020-06-16 20:39] thinkingserious opened #629 "Update USE_CASES.md with example code for sending multiple emails"
### Issue Summary
Update [USE_CASES.md](https://github.com/sendgrid/sendgrid-java/blob/master/USE_CASES.md) with "Kitchen Sink", "Send Single Email to Multiple Recipients" and "Send Multiple Emails to Multiple Recipients" example code.

### Acceptance Criteria

* Verify the current [kitchen sink example works](https://github.com/sendgrid/sendgrid-java/blob/master/examples/helpers/mail/Example.java

[2020-06-16 20:46] MarcusBiel commented on #629
Yes please! So waiting for an updated version that actually works with the current dependency!

[2020-06-19 18:14] MarcusBiel opened #630 "ClassNotFoundException: org.apache.commons.logging.impl.LogFactoryImpl"
Using sendgrid-java 4.6.0 (with Quarkus 1.5 as a native executable).

Getting:
Caused by java.lang.ClassNotFoundException: org.apache.commons.logging.impl.LogFactoryImpl)
web_1  | 	at org.apache.commons.logging.LogFactory.createFactory(LogFactory.java:1158)
web_1  | 	at org.apache.commons.logging.LogFactory$2.run(LogFactory.java:960)
web_1  | 	at java.security.AccessController.doPrivileged(AccessC

[2020-06-22 13:15] henrylcombrinck opened #631 "Invalid signature file digest for Manifest main attributes"
Java version:  8

Greetings,

We're trying out sendgrid/java for a corporate environment.

Message from one of our developers who is experiencing issues:

I’m not sure if the JAR is a problem, but since importing it into our application in order to send emails, we’re met with the following error:

`java.lang.SecurityException: Invalid signature file digest for Manifest main attributes`

I have dow

[2020-06-22 18:11] thinkingserious commented on #629
Internal tracking: [DI-752]

[2020-06-22 19:01] MarcusBiel commented on #629
Actually in the last sendGrid code samples, I found there are some tests written, they look very much like the old kitchen sink example. Maybe you just need to update the documentation and point to the updated tests instead...

[2020-06-22 22:35] thinkingserious commented on #631
Hello @henrylcombrinck,

It looks like you may be experiencing [this signed JAR issue](https://stackoverflow.com/questions/34855649/invalid-signature-file-digest-for-manifest-main-attributes-exception-while-tryin). Could you please take a look and let me know if this applies to your situation?

Here are some other potential things to try:
* https://gist.github.com/hkhamm/88923412992d284580ea
* htt

[2020-06-22 22:49] thinkingserious commented on #630
Hello @MarcusBiel,

It looks like there may be a solution [here](https://stackoverflow.com/questions/56871033/how-to-fix-org-apache-commons-logging-impl-logfactoryimpl-not-found-in-native). Could you please take a look and let us know if that resolves the issue?

Thanks!

With best regards,

Elmer

[2020-06-23 06:21] carduque opened #632 "Dynamic template data as array not available on template"
Hello,
I have defined a template on sendgrid and I'm using this java client (version 4.6.0) to send it.

[code]

If I add dynamicTemplateData as simple Strings, there is no issue, but I'm trying now to send a JSON Array and use Handlebars on the template (#each). I'm just recieving empty email, like I was not sending that Json Array. If I use test data on template, it works fine.

[2020-06-23 15:39] childish-sambino commented on #582
Fixed by #626

[2020-06-23 15:39] #582 closed

[2020-06-23 16:54] MarcusBiel commented on #630
Hi @thinkingserious ,
I have added the config instructions for GraalVM. This fixed the ClassNotFoundException.
However, in native Mode I now get a new exception:

`response statusCode = 400

response body= {"errors":[{"message":"The from object must be provided for every email send. It is an object that requires the email parameter, but may also contain a name parameter.  e.g. {\"email\" : \"examp

[2020-06-23 17:43] MarcusBiel commented on #630
Ok, I debugged this a bit - in the native executable, the body is empty. Reason is probaly jackson that is used behind the covers. I tried to replace it with the quarkus jackson version, but without sucess so far.

Here is sample project to reproduce the issue:
https://github.com/MarcusBiel/quarkus-sample

[2020-06-23 18:01] MarcusBiel commented on #630
Tried to exclude Jackson, so that the quarkus-jackson dependencies are used instead. No success yet:
        <dependency>
            <groupId>com.sendgrid</groupId>
            <artifactId>sendgrid-java</artifactId>
            <version>4.6.0</version>
            <exclusions>
                <exclusion>
                    <artifactId>com.fasterxml.jackson.core</artifactId>
                    <

[2020-06-24 06:56] henrylcombrinck commented on #631
Thanks - we'll give that a try.

On Tue, 23 Jun 2020 at 00:35, Elmer Thomas <notifications@github.com> wrote:

[2020-06-24 08:52] tareqassi opened #633 "Authentication Issue when sending email"
### Issue Summary

Sendgrid stopped sending my dynamic emails due to authentication issue.

I tried to login to the account using sendgrid official web page but i get this error : You are not authorized to access SendGrid, please contact Support.

I tried to contact support from the support page but I got NO response . I have contacted sendgrid account on twitter via messages and they advised me t

[2020-06-25 20:26] bradical commented on #182
Thanks @vmandrychenko. Offhand, do you know if your code snippet includes the proxy configuration or not? I noticed in this example: https://github.com/sendgrid/sendgrid-java/issues/182#issuecomment-281176006 there was both a `useSystemProperties` and `setProxy`?

[2020-06-25 20:28] vmandrychenko commented on #182
I do not, it's been a while.

[2020-06-25 21:44] thinkingserious commented on #631
Hello @henrylcombrinck,

Just checking in to find out of you found success. Thanks!

[2020-06-25 21:47] thinkingserious commented on #630
Hello @MarcusBiel,

Thank you for the detailed follow up!

Have you tried using the [fat jar?](https://github.com/sendgrid/sendgrid-java#via-jar-file)

[2020-06-26 02:43] thinkingserious commented on #632
Hello @carduque,

So that I may try to reproduce this issue, could you please provide us with a sample template and the corresponding JSON array which fails? (i.e. the relevant HTML from the template and the values of `substitutionObj.get("key").getAsString()` and `value_txt`)

Thank you!

With best regards,

Elmer

[2020-06-26 02:54] thinkingserious commented on #633
Hello @tareqassi,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2020-06-26 02:54] #633 closed

[2020-06-26 03:18] thinkingserious commented on #555
Hi @karthikbhat6,

What are some file types that are working for you?

For the types that are not working, I would verify the [MIME type](https://docs.w3cub.com/http/basics_of_http/mime_types/complete_list_of_mime_types).

If you can send me an example file that is failing, that would also be helpful so that I may try to reproduce the error.

Thanks!

With best regards,

Elmer

[2020-06-26 05:33] MarcusBiel commented on #630
Quarkus native means it runs as a native executable file. There is no jar left. As a jar, it works. I guess you would have to update your dependencies to make it work. Reflection and annotations are a problem for Graalvm. And graalvm is the future :)

[2020-06-26 05:56] carduque commented on #632
I found my bug... value_txt is a json on string format. addDynamicTemaplateData is scaping the double quotes on it, that is why it doesn't appear on my template.
I fixed converting my gson JSON to jackson JsonNode like this:

[code]

Thanks.

[2020-06-26 05:56] #632 closed

[2020-06-26 08:30] henrylcombrinck commented on #631
thanks - my team member simply switched to simulating a CURL call using
direct HTTP, instead of using the Java library (we needed a quick solution).

On Thu, 25 Jun 2020 at 23:44, Elmer Thomas <notifications@github.com> wrote:

[2020-06-26 13:44] #631 closed

[2020-06-26 14:01] #624 closed

[2020-06-28 17:52] MarcusBiel opened #634 "FIX dependency versions in your pom.xml"
Because of this definition in the pom.xml:
 <dependency>
      <groupId>com.sendgrid</groupId>
      <artifactId>java-http-client</artifactId>
      <version>[4.2,5.0)</version>
    </dependency>

Every time, when I build my project (mvn package) - I get this extra request:
Downloading from sonatype-nexus-snapshots: https://oss.sonatype.org/content/repositories/snapshots/com/sendgrid/java-http-cli

[2020-06-30 13:48] childish-sambino commented on #634
Did some research on this and understand the problem now.

Using a version range like this results in maven attempting to get SNAPSHOT information for the dependency since it's possible a SNAPSHOT release would match the version range. It's not a big deal, but there are better approaches. The idea was we want to pick up the latest 4.X version of _java-http-client_, but even a version range does no

[2020-07-01 13:50] #551 closed

[2020-07-01 13:50] #552 closed

[2020-07-02 21:06] #634 closed

[2020-07-02 22:24] thinkingserious commented on #630
Could you please provide a sample [request body](https://github.com/sendgrid/sendgrid-java/blob/master/TROUBLESHOOTING.md#viewing-the-request-body)? I want to ensure the payload is correct.

Also, thanks for the heads up regarding GraalVM, I had not heard of that VM. Depending on some further troubleshooting, we may want to convert this issue to be geared towards GraalVM support.

[2020-07-06 23:02] thinkingserious commented on #564
Hello @aramdan01, @liunan-lynn,

It looks like this issue is resolved in the latest version of the helper library. Thanks!

With best regards,

Elmer

[2020-07-06 23:02] #564 closed

[2020-07-09 16:55] #625 closed

[2020-07-09 20:46] #494 closed

[2020-07-10 20:35] MarcusBiel commented on #630
I think it would be the case for any kind if request body. At the moment it's not my top priority, because I gave up on the native mode.... but I will do as soon as I get a chance - if you still need it. I wish customer support would answer in a similar (timely) and competent(!) way as you.

[2020-07-10 20:37] childish-sambino commented on #417
At a high-level, what the usecase for needing to install this on AndroidOS? Generally, it's discouraged from using these repos on a client since it would require the client to have proper SendGrid auth.

[2020-07-11 15:17] Stephan202 opened #636 "Question: why the switch from `bcprov-jdk15on` to `bcprov-jdk15to18`?"
After upgrading to `sendgrid-java` version 4.6.1 our internal build started to flag the following [`BanDuplicateClasses`](https://www.mojohaus.org/extra-enforcer-rules/banDuplicateClasses.html) violation:

[code]

Turns out this is because `sendgrid-java` switched from `bcprov-jdk15on` to `bcprov-jdk15to18` in d9f4413707c38cd7c702d04574b207da56343002, while we have another dependency that also pul

[2020-07-13 22:34] thinkingserious commented on #630
Thanks for the kind words!

I think there may be an issue with your request body based on the 400 error you posted earlier.

[2020-07-14 19:32] childish-sambino commented on #629
Starting work on this ...

[2020-07-14 21:52] thinkingserious commented on #636
Hello @Stephan202,

We were having [problems shading](https://travis-ci.org/github/sendgrid/sendgrid-java/jobs/706294133#L2253) the new 1.66 release of `bcprov-jdk15on`.

With best regards,

Elmer

[2020-07-16 19:46] childish-sambino commented on #469
Fixed by https://github.com/sendgrid/sendgrid-java/pull/599

[2020-07-16 19:46] #469 closed

[2020-07-16 19:51] childish-sambino commented on #465
Closing as prism integration has been moved to https://github.com/sendgrid/sendgrid-oai

[2020-07-16 19:51] #465 closed

[2020-07-16 20:21] #629 closed

[2020-07-16 20:32] thinkingserious commented on #553
Hello @yingdi1, @reinhardholl,

I'm seeing the same behavior with my own testing.

What is the use case for using multiple personalizations with a dynamic template? It seems that just using one personalization is the recommended method. I will check internally to verify.

Thanks!

With best regards,

Elmer

[2020-07-16 21:29] thinkingserious commented on #553
Hello @yingdi1, @reinhardholl,

When you encounter this issue, are all the emails unique? Meaning, do you have something like email+1@example.com, email+2@example.com (I did, when I changed to different domains, the code worked as expected)? If so, the emails would likely have the same smtp-id, which could prevent you from seeing all the emails.

With best regards,

Elmer

[2020-07-18 09:21] Stephan202 commented on #636
Hi @thinkingserious! Thanks for the explanation. I managed to reproduce the issue.

It seems another (better?) fix is to upgrade the `maven-shared-plugin`. When I apply this patch against 88b85cb8cbc886b1481fb33c18d0346a3b44ed94 (i.e. the commit before the `bcprov-jdk15on` -> `bcprov-jdk15to18` switch) then the build passes:

[code]

(Running the failing build with `-e` shows that the "_Unsupporte

[2020-07-21 10:23] MarcusBiel opened #640 "Sender Verification Template"
When I add a new sender over the api, I want to send a verification email with my custom template, rather then the default SendGrid Template. How can this be set up?

[2020-07-23 11:50] carlzacher-placester opened #641 "org.apache.http.ConnectionClosedException:Premature end of Content-Length delimited message body (expected: 97; received: 0)"
Hi! It seems that we're suddenly receiving the error from the title and from our understanding it everything is fine from our end and that error pops up as a response from SendGrid. It's caught as a Java IO Exception and then that's what we get when we print out the error on our logs. We are currently using version **sendgrid-java-4.4.1**. I've seen other posts about the same error but on other ve

[2020-07-24 17:40] childish-sambino commented on #545
I'm just gonna rip this code out. We don't do this in any of the other libraries and it only guards against a specific secret. PR coming soon.

[2020-07-25 00:03] eshanholtz commented on #641
Per [this comment](https://github.com/sendgrid/sendgrid-java/issues/259#issuecomment-631752246), we currently have an internal ticket (reference ID: CL-2667) opened for this issue, but from checking, it's still open. I'm closing this ticket as it's a duplicate for a non-library issue.